<a href="https://colab.research.google.com/github/isaac-debug/Data-Science/blob/main/house_price_crawler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
total_data = []
taipei_data = []
yilan_data = []
# 106-1 ~ 110-11

# Crawling Data

## 台北市

In [ ]:
# 士林 7,298 
res = requests.get('https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/5cc16da7b16e4696273314714f290855?q=VTJGc2RHVmtYMTh6OHNkQUw3aS96ZHpCWUpyc21qcE8zNytJL0FJVlRuaHdCNi9hdExyeG1ybUFiZG1DU1BrVnhtdXMxREVLY1F2Y084ZFBzbnlBcmltOXo2QUttczVlZnZPNW93RU9DTlV4WTFiakVHcmFheUIweWxHemtsY1VDQks4K21lbjBsWGRiQVM0cWtSZER6am1VdEZVUHFGN2doRlFDSzhaZ1JCVlFJSUEvZkNLclJrdVJLbHgwcEFDM2tqSS9GeU5GOGZHOFFTdkdwTS8ybmtBRjZ4T0g2WTlSNmc1Q29mNHRoUGt2WHRoRkJrT0dzbTVsYTNla3I2Ym1IL3htdS9DUmJxYU13Q1BoQkMzZDluc0U2MmVTMEZONTJFOUlUM1JJRTJINk16RVBIWHNhbWJoZXNuaFlMOCtrMHJNL2oyUkZzNlkxd0ZWYUJjYWVhRElwR3hhcWRTRUExR05pWjNwWkc3NWEvTFhSWEpnL0lyZ2xyODdUR3FMRjFET1ZIeXNENmZkWUZsdVpaZkRwS3hBRXNrVUwyclhJU3Z5QVBUMW9ZY2tDMFhIUkJXK1lPYk5oL0ZFU0lvWVF3Njlra1NBbXZzK0pQb2xndVlmYVNLbWlnN1d4WnVDUm9nam1qanRLRUE9')
print(res)
print(len(res.json()))
taipei_1 = res.json()
taipei_data = taipei_1
total_data = total_data + taipei_1
print('total = ', len(total_data))
#data = pd.DataFrame.from_records(res.json())

<Response [200]>
7298
total =  7298

In [ ]:
# 大同 4,602 
res = requests.get('https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/f4872e614661fdc650450706dc9b6344?q=VTJGc2RHVmtYMStaQnA1K3dveEtueHVuWERrTVBwbEV0V1R2d05KQXl6MDV3aDdPUWhoQnppMlp2dTRyQjVYRGVxaElISUh6cU1lOEhEVHdrMjhITU85S3hwQ0Vlb1FVLzVMWloyc215b1ZnbjhsSFJUV1Rwa3ZGZ0NkSFVQSVRZSGUvVWZLM2pJbFl0RjJFK0JCN2JYcGpJY2gvMHdnQWJMclJjdUVBcTQ3Tzhhc2laM2FJQXR4TlJWaytyTUFVZFYxcjBpOCt6a2x2dGRBSkgveHVQd3FMSFVKV2FtK2xGREhuN3Njc3pyWVQ3ZlNqVmtZSi90OWF1bjBVa2pydzNxaWNIZVViOE83b21ScFVtRFhIMlRSUENLc1NtVVZjOEVCTW1ZWEI1czd5Rkk5L2xlZ2x1ZmdGSFFSZWRRc3FoQ2I2bFJNdE05ZWkrSUx1T1JYanpTeEorQ0daUEF2RGx0QkhEdENFYlRXZFZhQTVvU1NFa3RrNk1kckpFdUZ3cVo1UGtwVkJwZnQwS2lLbWF5dmZPb2NlZ3N5NEgxd0RJRGNDU3cwRGUvNkUzaWVkZVFGVnZDNzJWczB4TDh1S1BuQ2dwd1lRMEtQWTlqRlplRzNGTXZzSEt1aElmeU5SQkhPakFtQzZqNEk9')
print(res)
print(len(res.json()))
taipei_2 = res.json()
taipei_data = taipei_data + taipei_2
total_data = total_data + taipei_2
print('total = ', len(total_data))

<Response [200]>
4610
total =  11908

In [ ]:
# 中山 106-1 107-12  5,027
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/46ebb8381e90cf96a95d7d47d3a10575?q=VTJGc2RHVmtYMS94a2NyQ0oxTUdxUU1URUFNdlBwUjFQY3VkVWl0ZW9rbEx1dXluSlQzSkttRTJYSmJQenlDTzlXRm9NWHZVMnBySGR2OGZ5SWJCMmpYb2lPaHU0eEdLNFU4TVFvTGdDclZYY290THJQd2twZVlscmdpY1VtbmpTMXM4aE0reWZYUURicEhxNHdmbG1UUlBLSWJaUk9KMWo4ZUFRVDdIN3YxZzhuVmNiakFHSkJmRG91TC9pYW81a01DS1J0YnZTOVlVWnpkMW5xd3VmWVp5dU1Tb2x4RVQ1TWIvNlJTejFHSFBkcmJOTDlEV0FTM09YbFM4bEFuM3pDTnY2VzNWNGtOUitQYWRuSWR1Zk5XL1dnNGhsQ3ZVendTMjFld0hsS1c5MzVUWXVySTNsRXhxTjRNT2ZsNDBRMjRCWUJFT2ZIUEhqbGhTejdnL3ZLSG5JQ1ViTVlyZi9hdFMzSkQwdTEybG9wL2E1SG1yRmJHMHZrQ2VHK3dQM1lJVzJNTlNuUWtzMVFrbUdvbHduSzc3czJSRC9uSWluR0N3a1NhZExqTXJnRmZIbEhrUk9YMmcya2JQWWVsRTlVOEJQY0J2SllqazlFQklkV1NGZUVTa2xqRVhCZUY5MFdSanZkZXlnV2s9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_3 = res.json()
taipei_data = taipei_data + taipei_3
total_data = total_data + taipei_3
print('total = ', len(total_data))

<Response [200]>
5027
total =  16935

In [ ]:
# 中山 108-1 110-11  8,517
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/99ab47493709f1102dfff44f7d3dfaf8?q=VTJGc2RHVmtYMTg5QmdKdVpwK2ZmbERuYmhqRTR2RzBHV0JBK0RlQitEV3poelBTSHEwSkRlaWx1NkI1bTdwbFlwWFZrVE1HZEFsclVkSXBkbzdzdEdkZTZmcGVHZXVkRTFyR3o2V3c2OXhEZ0RnRGxuUmRyNGlTQ0FvMENXL0pON2gyd1FmZ3FHNFA4WGp3Umh2K011Y2FOSHF3MjlrbCtCeVVBMUh5MnVFcTd4SkVDZ1J2Rkxsck44R2t4RUJ1d1R6cncwNTh3Mmdyb2JyaGVISkFyQkY1Z1FhYk9JYllna0dmWHp3dC9LZWh1ZGllaGU1dkdGNHZ3aHhpelJuUWd3dm9IOE52Z2NlV01GemRKTThZM29qSUxHaktsbjRDUmxsUnRyTERKTmY5MGJSZkdRelkzWVMyOFhJUjU4R0RIOEdoU0ZYL003UlZjSWNuYjNuUEQ5UlRjYlZMMW1mckpZVkh6SkYvQjRMSENveHdsT2RLY1RYU3lMM09RNTB0TlBsSE5ROXp1dTRQcXVjajZ6bHNCUXlGMktwV24rVUZEM0VtN3I0M3NRTnZlQmhXSHNVMGZoc0g0b2N6YTUyUkE2UVdKWW9XdnY1Rml1QWV0MGdFZFJiM0Zja1RoNXVvcHNHM1BnbW5pUkE9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_4 = res.json()
taipei_data = taipei_data + taipei_4
total_data = total_data + taipei_4
print('total = ', len(total_data))

<Response [200]>
8517
total =  25452

In [ ]:
# 中正  5,713
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/7e1d204eb10171d1c4ec7355b6a89f97?q=VTJGc2RHVmtYMSttbmdzMEVtcHFUZEVNVjZ1NEN5endZRUZnUkZuVEg3eXMyUjlKZmlNeXh5dm1ZQitaL2ZUODI5YmdOalhBY0dtYWtpWStRZm1JdWJpenV2c254TDVsbkh5WnRYRkpqNFZjSkpPVmZ5YjVJUThudmRlZVRqSGRXcXVsdzdoanQ2VEd0S3AvcEQxSGwzckxySGZJTkhsRWRaWkZUelcrZXdpMFVoV21kV2hDS3hxZGRnUG9ndXN5cDdHUlluMGdFVVNwd0dJQlJkYnpRdk5MM0VvNlY5am1nUnRMTFZSYjV2M1RsRk8rQkRmQlJZSTFXMGllQ01pc2U2a0RPd28xa2RLMVRQVVByOTJTTmo1WUp5L012VWhNdi93cWFkbS9WTTZqbndxeHhPZG8yS1lqbmFDRnRwTkhqdktscmQ3ZUlJUGk5WTJoM0JsZC81cWd4Uk5oaE90YW82dDcxYzN1dXFqcGlJTGpYeFdoTjNNT2V2OUI2V2sxTEVYMkIrcmJkYWhpakJlSkpRbzBDYUppSlY2cXdmV1N6S1dpQlNuc0hFeG5OOEdyTmtRTXl1WEQ3NlR5Qmduam94NUl0TVpiVjJWVTlQenhPYzdlTnBLWlY0Q3JFbVArUTJRclk5ek9wV2M9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
5713
total =  31165

In [ ]:
# 松山 6428
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/577b0258c338725ed317c2e62060add2?q=VTJGc2RHVmtYMTlsVks2VGQ5Mk1pZ2xDWWJ4cEtwNGJ2Zkg1SndleGYvQmM5UXZnaStCSWltaFFMYk45TjR4NFZoU0h2bEVZL0ZuL1F0MGpCaDZESkZ5ck9sdnBkTEEzeksyM3NkeFRMbk5CVHVGM2FtUFB1alpZUzBuWXJnKy9OZE9wa1JCdWZkSDVKZFJBaUdFTUlqMlN5ZlNDTjFOYWZkN29pWUVxOWM3VVJpekVSMUFuUU5BQjVvaGtpdHJXK0QxalpBSWhxb0hkK2JQeW5EOVd5RmFyMG4yRjU5QUNWa2JMb1N1bkw1OHpkUjdyTlh4YzVTL0JVM2NuZzJCZWV4eTR2V0xjSVljeUozekl1V2FNTTdkdkp0NCthcjFTa2Z0aUhXMXExS0dOT3BYV0xBK0l4TkJtZEdRU0g3Tkx4eUZ4QnVJeE5ZcmFVVTFlS2doZDY4OEI5OUJCTmVUQUZkU0IzOFhyeGZxUEVYUW9CbjNuZnNnYUl1UGNla2l6b0szVVVRbkk5cTF0Sml1Vjl4SCt4RHEyTzZqNlNNeDVCMHhteno0RGw2SlNyMVNocEc2TlE3c0ZlbnA2czF2Wjdua2N3cXFxQWZEcHF2aXgwV0JLWnIxT25CY0xUOXF4My9xRFJyVHYxeGM9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
6428
total =  37593

In [ ]:
# 信義 6823
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/2c63d6e4abc9d4cc2d31e9e4cb4a8485?q=VTJGc2RHVmtYMS9NR3V5ckxFNTM0Z0diK1M5dzc0RndqeElEN0ZNOXp5TjgzZ21ZZVBWcWVPaFZnd3RHdjNRcUR1Y0M2YUpMa1A2ZmRFNzRxTTc2UmV5UW1aS0wxQXZRYXo5UFFXMmpkaWNqTUV5aTVtU09iamFmYTliQVQ3RVRXKzBJbVpQRTh4NGtncnRCQzZGRm9ocGdnRm9FY1hnN2lNWVNxMGs4MkpPV3NnYUFGQnkzRGZEZ3h1UDJETktmdVBZRnlTNGNCYUtlUXlIeFlvVzIxa1A0UWpOb0hGQmQxMzFSVnBFaExqL2FCYmxEWUJWbk16VWtYRzdScVBtSm5CQVZrZ3ZKZEtVVVN5TU5WRlEwdU9VMGxObDJrSW42TG9GMzNPd1JwODY3L3FqYkdhMXNkMFptM3BKdjZ0d25aNTVhSVFjL1dMM0dsTkZuRWdlWG9NTlBjb0hXZUFOc3UxUlZxa0szeTk5a3JGTjRRb0tjdXdYUnVaWTBCWG8zSEh4VU0rcjkvL0Z4b2k5bFFZL013NWtrMVpGb1FjbnNmcTFBYUdNRktqZUVtdmh0cm9uZlkvWlhTTkVqblNjWDg1OXZ2b1lQQmR2SEZud0Ura0NMRlc5NnFKY1UxT3IwbGZzSmZ6RnJ5R1k9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
6835
total =  44428

In [ ]:
# 南港  4,016 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/f14ff4341677649d530c09c8370def55?q=VTJGc2RHVmtYMS9ZcnJEaTk0a3hDSHFkSndBcy9JMm04dUkwNGFBbHBYUXo0Nk5RdUJ2ME51WXc3UEp6bndIaFVxbDZTMUlNVzNTRjFhNndGbHZDQWpJQkkvN0FIMVNuUlMyM2hPSW9mU0FRcXEyNU5BdjVvc0V5cC8rUWlqODlQaFdKL2I3NmFLUldLeG1jZ3RYWFZwbXM1RlYzUW56YUNWQkk1NXhORFVaU0F3dHFsK1grUkFpT25uTWZ0TVZoaStqNVlFem5mTFBVc3FtWnhJTHZuZWk4YmFCMkJSYU9qR1N0d3RhVnB6VW4zZWpsSkxkQTBkVkJFbmFKSXMxYmIxTk5ldUxNRUJldUZKSkN6dzNCdjg1djhDRmFLV3BNdE5DMkFON01IcXFtWW1VeEZlM3FaK0puV3NCVTE4cXB6dVMyRWNmeXdETWtRWkdMUVlyY1N2T0lNOVZwY3d1alhBVzdBYW1mcjZxWSt2dWdIRjNmcEFld3BaOFppUXFuK29adkhtRnBTMjUvREhnREhFTmM4KzVsTFBGSytidm05QWxOcWxQdFlFdjdKR1ZiMXY5ZUtZSXRsYWxkSU1QY202cmQ4bVVhZldVYk1zMWVMWTlpVXJIRUV0NXZiblZETXRhWHY3cjdIK2s9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
4051
total =  48479

In [ ]:
# 萬華 6,920 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/ade4de703b4452a0905872fccb31e6f4?q=VTJGc2RHVmtYMThVNTkzMUxnKzFyZnJhMU5HcUQyaGZJdmFkbWUxS1l2K2ZwMFBNRHdaYVJ5ZGs0dCtKRlU2VDRkdUtUL1hBb2hVOFZmc0VsMDBnY0JHRGduUmlXY0x0dnBSNG9LR01UWFNYV3d0V1pnNWYzazEva1pnOTg0bEJUN1Z6dUsxUlI1MkR4cDF4YmRkd0g3NDFBbHIzWFRVMDgvVVMwQmJZSHBHbi9OajlRMWpZZHBXbmZaY3RWZVI2ZXVZRGllNkQ4KzhIVklCYmJCbEQzOFpJYjM1ajhmbVM5dWpueEVBQ3dqNi9VNE53UWg1THdDY0psWEE4K1JUUkd2VzRVbzM2dG42bkdqZXo0Yk1PeCtkTEw5NWZ3aEdaL3J2Zml3dXFRbEErQXRKWUUvMDYzU3Q2T3ZCOVoyNUkvTndpekc3cFVFOFA5RUZpdzRJbGxCbjVpT05td09mUXF4aktOVWc5eTJRdTVybjA2MmlzY1dudXdkRmNTb1BNSWFYZVM4cUdua3h4cTNYbHFwYWFVMVQ5NnZPSlJ6MzYyTHpETTY3Njl2R0x2azlnNXVZZEVrazFXOElpV0VLdWVaMW9lZ21sdS9BRisrcHI2b3pUaUhidmZMMlgreXlGaVFBOHBQMmtRTEk9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
6962
total =  55441

In [ ]:
# 大安 8763
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/70cb5792758e88317890f25f1e1c96c7?q=VTJGc2RHVmtYMS9pV1VHckZNOUtHcVlvcEJ1MzI2OC9oTmJtUVpXK09YaGRDdXcybzkwRWc1Q0tWanQrWTUySkMyaVBUSDFMRmt4ajYvWkhTWXJmNlVUMnNXQ3hWMzlOM3NjR2dxcUZQaVUzamtuQU9PMlNKVEpKd2FBNzJEdUw4NitiKzFzUk0rL25Mb0ZYc21ueXRvQVB5dlkwQTgvdVBXSEdsVWxoZzI5eFo4RENQMjM1MFh6MkNzTDNVQUU1b1VmSjJ4cXRYSlRvSnY2UGpEUy94dVBtUFIyVDBwb3B3UkMrV0o2ZnpPaWJpTStHcFo0VWRyQkFrUnR5Q2daQ2JjeDNQbXhkMUFZN01oaitDSTJVeWFPbUVybGJkd2I3aTc4MllHRHpzZXV2NWZwN2ZZRnFZc3lNQlVhVndIbDc2c01jTEVEQkdnUnVSYm5PSkdtMlVuTkNHaU5PaHA3SjlrVlR1VmpJMUpjZ1Fsd3kwZS9YNHA3cDdpQjlZbTYvQzVTMXllbHUvc08rM1ZGbENJOWltL1U2RlphL3g3UHl1ZjJYSmEzeTZLd3dybVdIY1VBVDZlODZRNzIzK3VWRWoxbmFvMnd4bzJYWEZVZkpVQjJja3JUamZiQ1N4Q25aa2RrVk5rUEhwd2M9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
8839
total =  64280

In [ ]:
# 內湖 12,164
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/25bb18d592473dac056d0e97ee51f3ba?q=VTJGc2RHVmtYMStTc1FnSGUvVitLMGpMd0YxbFFocVR6SmFmR0Y3Y0NYQ1FRdWJwb2tFd01wRmErVmFQQlpzVHhvMFNsNXRrZVpVZ0lXZ3k0K1pZdVNFTHBuSUlITUQvVVY2TlBORWN6Q0FPcjliYlFTMGdRQXhlYnEvVExyVW9UNHBoL0tBeklEb1R3VnpzV3pGZVE5eXdGYmlFcE1weG50ZjVDb0JieXBjQWNCSzRIY3RmNmpxaUhXRVZad1VQNmxWK0NuaCs0SFZUVUhYQnV3b0lPMjZzRWpuR0pMTEp6b1lDTW1kOTB1Tmt3bU8yRkpiajIxaDI4TGtTcmJDWDV0VEIzbVgwcFJhVTQ4YVJUTld4TVZ4Y2lnaXl3YTU4ZzNGWGR2VGhUdmtrZ0pUaitLNGliaEZvaExYcU1KeTlBclQzTnhyVmg5SCtoTkpPYXJsVnVTbElMbk1ibmNrWnlHcWUzeitra09FemNRRW84TVdtWnJzRkE0cUQrOGpwdFE1WXRsU2JMUUtwWXBka1VuaVM2aFpzVFpFTnJ5cVFHRy9haDNuYXRYY01lRGdPbFJHYlVhN0l4YWtBVWpBREVvR0R5MC8yQUZObTVxajR4ME1uelMrYmIyZ0hNdmNrby80Njl0aHRUbHc9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
10249
total =  74529

In [ ]:
# 北投 9,109
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/fca2bf3ca5f863581ddba164b7334f69?q=VTJGc2RHVmtYMS9aTXlrbS9tdm1kdWJXam1MQmp0dnd1UUNFcGxYZktBN2ZIK1ZGUmE1QkNYR3pyWjR6Q1ZKcWtEWUx1ZG5BMmx5RmYycjB6K3Y5NHEraG9UMkQ3enFvRHloL3FwYnZkWjFqZUJXa1EvNWRlT1dGLzlPdjUwRWVSSENLdXJ5T2prdWZURStnR1A0NUswcUI5aHRjajVicVR6YjRFeXdyQ1lBVzUyb1pSd1czUHdQZ0NmZmJzYTNNdEFUZ3kwUnM5bXNkQ3NsWnlKZGQyOERGZ3Z1MDloaDcxajVreU5Pd2xOOE40QkFZNTBuUEFDUnVMMVJjQlc5ZDAvK3FWMlMwdVNsSGRmQ3Y2aWhWZjRPZkQya2pjVnBBTzdDMHJVcGRsdzlKcUFyWTN2UGg3NjFpTk9VRkx2b1hMQVh5L04yc2RFUWZVWXJEZFpDT1ZCZGlhQVJCUmV5cS9XQk95V3JGMW5yK1FVWTcyQUZsNWNqK1lzQUIrY05sMXhEcSsrcTdLQ0NVcTNFTFowNU93dTFsQnhZZGlPNEs5cGcxRmRaOEQrd05GdXdhOGtoamNiNHpKcFIxQU1IUkxzOHpuTTVMRW16ZlJKNHRMVGlwQk53OTVHcVRIazhnb2lKZGZmeDVlbUE9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
9142
total =  83671

In [ ]:
# 文山 9,240
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/ea4da51924d78b699251790a0efb669a?q=VTJGc2RHVmtYMThzbVQvZW5zTm90VTdnY2YyamNTbTBEam8wT2hUVWMrc0xBWkhBZWVuZnJtWjNrL1VLeVRlczZVU2FDemxOSWxEWnQ0MWtkYWo2c3g3elBoVzFBYVF0cGd1TmUwYVlCYjAvWkgxa1RMeVpxU01lTTlaWEFYSEV5NEE1dHhoYmVwTy9CWmdraFFFOUprU0pOMjgrTkZSQTk3UE1nV2RwQzIxM1o1TlcveU9WQ21IVmNiY0VNaHZnM0VtK1JBTW9ZWTNHY0VDRmVZUTNZdDV1NUZNQ01oWG1kbm14STQ4NXBQcVkxMVlRS0t3WTljWG1UcEs1RFYwSnJEbFhobmM4Z1VoOXp3VWdybm05aGw0Z25XTXdLSnVkS21oOGgvR2Y4dnRvUUllVWo0dHdieGl0ZHAyOWFqQkxSaEZiN29DcWY3ZnU2bHJsNHRCUlZtME92ZXlsTEVIanRoSTZVRlBYYXlZR1lhSjZFQWRJb20ycGcrOUJZekVyRlBIMmhTd2NtT0JCOFRwbDVMampyWmZmNjh3RXlFeURsRjAzc0I5TXRVUmJIQW5aWnJzanVxQm0xSk4zbkZUczhrdG1hSFB5VHRzWkRNVnNzSjdlUkRrcCtvbzNOSHBOOXlzTzYxU1VvREU9'
res = requests.get(url)
print(res)
print(len(res.json()))
taipei_daan = res.json()
taipei_data = taipei_data + taipei_daan
total_data = total_data + taipei_daan
print('total = ', len(total_data))

<Response [200]>
9281
total =  92952

## 新北市

In [ ]:
# 八里 2,812
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/0e448b4681b5dfa775c723bd44907ffc?q=VTJGc2RHVmtYMTlTOEhyNjhVZGl2V2d3RWNoVVlFV1pwdURHMmgybTh6eldVdVZrMXlDUjZnQ20vZWdVT3ZtOXh5dzA4V09BR1EvUTRsdlA0ZjFiQ0w4cUFQcE5RdS9HOEF3UkEvMmJFcThZbm9UczFxdXJiQjlqU0xjVTg3T2hiMDVzbFA2MStZU25HTlVNQzZxRnZ6RzdpWGRWZTJqdEI4WDJVcVRtNEptRlJ3S0s3bkVwZ3g0bWo2UVFKRUZQVzA1SXlzWFVjbXRmcDdVMFAyMG81S2llNGdUdXdBZzZPS0xOd25KVS9kYzZPVVUzc3ZEQnMxcTRxNExqaEdBQW5GS2VSTjN3bXI3UEo4amxIcmN3ZFJqaGxxUkUzNkE3QTRWOUw3MDNKZDkrQlRKbzVKUjFmOExKMjNTTHpRVmtxcUxwbWhuOERqd0Q5NFNXeHVWL3Y1ZUZpZEx2WGdMYldrYzdqWDVYdEQ5VnhKS0RpcGhlaHpFKzBndWtTN0IzdzFXdmljV1VHdWRSYzQ3dmZzK2RZTVE1UVIwYXRKalhwRXltSnYzcXhKMWF0Q0JZbVgwYmZrUEJYeW1kUytJeDF3NklhZ1Y2MGtxUTBCUkpoOWg4YldRZDZyZDgwU0tZR3oxS1Badzg3YW89'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_1 = res.json()
new_taipei_data = new_taipei_1
total_data = total_data + new_taipei_1
print('total = ', len(total_data))

<Response [200]>
2840
total =  95792

In [ ]:
# 三芝 1,574 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/2c80847195da5c2846cd6170a4c9b27a?q=VTJGc2RHVmtYMS9uaDFLMXd4OWY4QzBUMUZicWhjZTI1UEFNeXBlSC9EaCtEd1JkOFNHUkxQU1ZtWlBrWU1oYm5FSGthUERoeDJqa0NhNnNGKzZnL09JNFg1bDRKTFl2a1plU3dzbGNzNHJVdU5Jd2JhdWtLa2ltQjA2bkJtSHRvTFlLU3RWcGZYWHNGUll5bi9lUjRJNGo0djdmVWdmQWxoc1FzT2tVTDQ0bUJ2cmhISDdQd2MvYWpCUzVLWG5QOEF5eUl0YTJsQkJlald1YkJKOGRGS0Q1VklJNnh2ekxSTlhGSlhJcmx4TG5UR1poRnkreHByNGVqaTg0K3lHVmN2MmN0SnpHenA0SHhZRGMxMCt4VyswTDUwQlFxZlFieHJWcHM4OFlrSUZNK3M1K0lvS1BoMGFYMEdqaUdEQnVwZm04NTNqSVJwcUQ3Ni81YU5wTTFhdGxtbURSWXNRS0lpakYxbFBjUU53TUgzZzRFbDcvR0hING1QZnM1RG1QZHBLYjd2cDlCQ1o3VmU3S2t4ZWF0ZnBnS0I5YTJzMEZmQ3hFeFcxYVpsYjI3L243S1BNQUFjQ3JuVFFGVWRTdkR6ZWhCaDViTkNyUkhFRUdUbEdoSWd3RGxXL0ZrRzVkQnFKazhjVlJGVzg9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
1590
total =  97382

In [ ]:
# 三重 up  5,911
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/2cbc77cfd6de2568df534fecb80b236e?q=VTJGc2RHVmtYMS9lMWZGSnIzZnJqWnVEbVlvTWhWdXlnSjZwWGdzOCsrS245ejZ3djFsMDRIcFhQcE12UHFTVk43aWI1RGRKOG9CaGJXc1c4Z01ERE95MlgwcDlEQnR2Uzc1VkVJdE51SHBYd1lpQjZHNElRK1I5bEdVTTJWUkw0VkFzeTlPcVJkS2FuYmN2L2JzZTNtQjA0YWt3RmU4c3Vtc0VNVU0wTFFLNTUxaUhORW05YmV6SDBlc2NJSW5PWE1Hb2dTK0RDdGlvZE15Ni84Y3VvNDFTSDI1dm5PQU0vTEM3L2F4MDRFMFNiVTZ1UXNEV3pLa3FwZGx3NEtLQVJKY25HbHdzNDZneEVNUzdIdklNSUNzaHdEZHdXN05XM3MvWnFrNEVuNGNFNTA3SVF3eUFYTk1sQjJRa05DTDNpYmhyMTJqTldYV0RjSWxtbGxVWFF6MEpsWVkxcnc1ajlzeWpZbU9wa3BvNGg5eHc5UUQ5WkIrNno5ZU9PQWNLL3RvcTI0V0FMZHNicUVPclJUZVpRdVVoY1FQYjFaOWpqZjdaQTY5cXpTdFl1UVNCRDNFQ1RQWEhYMHFSb09tTHdCM1Y5R0xIT3FGVllGSkNWWTlDWHljZGRiWjZFV3BkUllhQzVSYmZobGM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
5911
total =  103293

In [ ]:
# 三重 down  9,575 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/42a07a957c10754dd8ba362d26e874e0?q=VTJGc2RHVmtYMS93QnFLT1M5NFlSQTJ1NUliM1k2dmdaOUIvQkFhZlV0RmlyT2Y1QWxUU3J4R21EWkF3d0txeEZuTUl0OG94VnliMjFNVElSOVBKSXhtSUE1UGRURE9lSXBjL2NLY254aHFWUzlsSDZXSlZHNHROeWsreml2R0tVSUs2Y1NDdG13ZjZ3cWpvOHBRN0FSbzEreFc3WlNjeHBzV1cxYlJzcDVKd05reEVFSEVISWZkUDNrQjRQVEE1ZHAxZjBybGo0YzNaMlU5aDBUbXdTVXJLUUpXVFpQZmhvc1djNWlZYnBaMXNQbzBzTkxWYW0rL0R2azI4RWJFV1NhZG1KWnNTV3dsSGlPcXdJN1dRWnNzVUZIYk9qKzZiOXlsZngrTENHRE9LWE5SUkhzQkhycjhXaUxCSU1TQStZbHVvUkM1c1RGSlczS09iY3hsVTk4cGdHUk14ZTI1MGZvQUxkRVFXazB6NVBuZzZ5eStMOHhJMGMveGMyK051cDgza1BWTFNCb0tBRzhZMWVzQzBVUE5iSWVIU3J4aEtLWnkrRmZTeExhdGlEaXJ3NWtmYjhlMlhRbXBXNUVNZmRlUVlMaVpzNmxFQnNweDErWU55OGt0YytWQ09tSnVZM2VFbHVRcXF6dzg9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
9710
total =  113003

In [ ]:
# 三峽 6,793
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/9f13bab133bced1c976470f37840c79c?q=VTJGc2RHVmtYMThKSkd2Y2ZhbGk1OWRwY1NvRzR5SUxpWm9OOVBsVWpHdzJLdlhudkp2ckpyUUh3M2M3ZDlCMDd2VTR4V28zZGtXc2VuejVrZVlyQUwvN2thSDEwOThVNHZteDUrbDdFVVBqUGZ4eHhqR3psTWhKbktvV25jVXZTRmZjeHFybzBocGlCS0pNTVI1bXFSTnJxcWNScG0wclJJMjJzb1BaWmpKcmIzYVVXc1Bpbzg2Uml1NmExRUY4UUlmYlBSbXVjOUxidllmd1QzcENOV2ZXNnYxbmE1NTdYa2ZGZzRDbDlSYzJYTkJIL1F3bVd2NUx2cGhhYmxRUGdNdTdpMndiZWJ3WkY1b0ZTYm13bVBtOTZibFBIWVdwQkg0My81UThHeWNJMUxiaTlRWCtkRmRFcitmekRqTmJMVTF3Q0p0NmV3eHM0UVRXUGJtRU85Rm9ublpqNS9yTW5Kem5xM3JMTXdTbldFekp6dFRrNS8wR1paVTJsWTluSExVMTNJL1JBaGtLdkExblRRa2c5NHM2VE5QNlpNSlducHFGMzdhUlh2NDVkZVF4SCtKa2c3NjFGb202QUdYVzA3bjA5SHlyN0lNT2duZHRSMmtWSlpUZEo5ZU4yOGRjVTU5Y0ZvekhIMEU9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
6827
total =  119830

In [ ]:
# 土城 up  4,309 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/8779ff699b1cf0d41696ef97f141d886?q=VTJGc2RHVmtYMTl2OUVSdE00akZ4bkhMU1hoOGhzK0FZTVZOUmhzOUFiVkN3V3cvVHhGNW0zNXg4NWpGdW1NZDFvMFZIVG9YR0lMb0ZNK1dhUlZwK09lSzRRcnJJU2RhZ1JBaFpDWHZoT2ZqTGYxcmMwRy9KU1d1TzZjM0dlODFqY3hnTTViNzJUUXBsc0ZSZUhmUloyZ0RWeUI2TUhCZ2Q1WjRHRVNGQmdIK2JibUhNb0dudUhKZEVDNmFGSnNvaitORkhTeFQ5ZllodjVJTTlUejZDOXdkdU12N1VrKzhEeUYvTU00R1ZVeXVpdXh3dWpDRWk1RFcyYUI4VjBaNWNLVVArSHZLb3lqRFBmcjF5ZlovdkM5aXBVazVrZlMxV2FqNWhDRi9WSFlwS0VXMlR1WW1UMXhTZWRSWWRaOEJrN05hT05GVUY1SnhXcUQrYW92ZmQyOS9YNytySWI3ZUVzdjZaN2RHS3F3bFhHb3ZWbjdpSlBnTi9EamNWd092RUp0TmZkc0k5T0o0UERza1V6SlVYS3lIK1IrbEVjZlZxTGVaVUNHaWJUbk1mTmZ2NDhwZTJxNnNsNFZwR0F0R0p0T3FiU0ZmOXhYMXFKQm0yS1RDM2U3aW9NcHdmSFo3QnFhMEhoL1AyOWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
4309
total =  124139

In [ ]:
# 土城 down 6,948 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/85a660adbdbe222461065cb2961f19c7?q=VTJGc2RHVmtYMStQYnZiejQvMVcyaDFEL21VNWtCMmh5QkIxc1o4MEZycG9IOFJFQ1VZNk1PWmlsdnNiVldHVmhlTjJZZWN4dW04NHFFRXkzR21lc2RCaCtZb0o1RTZCRDlJZEo1ZHVVODdTNFdVQWNhZTRUZFBSS1I4MWVrR0J0bFZmWXdNTWdoUGRhK2t4WEdOeVRSQm82dy8yOHhlYVZtWWlOdnJCSGxjRjBjWjVKaSt1VGFWaWZqZUhGdEY4ZGZxdzRCUVJlR1BwQndNaGd5a090YjUwNW01c2l2YytBaUlNZjFDcnljd3NPTHc0SkNqU1dyMzVTK3pQR09Tc2F6cmJkdDgya1ZTTFNMaEEycEtBcU9iU0Z1c2Z2SnhJZGpFNXhxVTZQMlE2UEpFS1Q4Mno0Uk9rTGRDMWZOWEVKNEdneTV6S25aTkViYnV1M3FMTkN5WmxrdlZPcXo4dUU0d1J3d0FRMnRHdmd1UVMrVkYyZEloRVVXbkUxVDczSWlRcHRYNzFoamRiNVpDcjN1cm12UlluSGtTL1UvMitEaW5vZkJ3aDN0SFNtbFF6a21ldi8wNndHK0l0eUY4bk5mQ1NUMnZHWmszcWtiQmFBcnMvdDRFQ2lzeXVKMjVkUzVCWU1LU1dleVU9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
6948
total =  131087

In [ ]:
# 中和 part1(106-1 ~107-12) 8,015
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/d6b7f4cbe2be9176a27fbe7657ea43da?q=VTJGc2RHVmtYMSs1OHNmOXpFdWdHQ1crNTY0eGE4OFUwcHBEUlBxRUw0a3BMUWJmb01obXJXQ1o4eU81UUNra3VvQld4cHF6VlJPV05JUkJscXh1MHY4dk1ZL1ZsdUJOUTRXN3dpYjhYaW1NeTd3ckVHZmJvM2x5TmFZMlBHTG1DMEd4Ym1vVWFGVldXWmdqWmV0NUVzR2VZOVQ1b2dGSW51eE5RU2ZMQ1k0Mzd5cU1RQ25mYmJJdTBCM1YxdXEvUE1jNENLY01YTHpBOUVySnJTci9GdmxkQXBSVGJ5cCsvaEFrZjRZblFRRk8rWnFZUkI2Z3FKWitGY2FiMmwvL3RhUWVEYldqL0U1ci9obWFURXVHdyt1VVp2eTVjeW81dzdXSmpWRjlRdllRMDJ0Y0ROMXp1UW8xbGVRWDd4ZHUzQ05TNWNBMUFsYlYyZEd1SFl1QjBNMGtpc0U4ZXIxUFNObllwK2pGK2tDUldpMkErQnpSVzN4cVA3ZXk1a1JMYnJUMGgrbERDYm1Xa2VmUnpvekhYaTNhMFRGL0U2cEJ4dXlmdWFaYjFjRERIWk52TVVPS1RvOWZnRFFSQmwwUFpuQll2YjFnVW1EZE9GL3BpNUo5ZTdDOGJCRGtTMU9WeFoxRHNuaXlkekk9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
8021
total =  139108

In [ ]:
# 中和 part2(108-1 ~110-11) 12,226
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/2e2010b1b6bb9202527d7637ba9d5d79?q=VTJGc2RHVmtYMStPRFQ4TjNWbmN3aFN4TmJVZVV5dUpzK3EwYlE5S1FjNllMYzZnYmN4cjRMbEpsL0pFcHB6VmMrcUo3VHlPSXJVclEzRVBLdkRXWHFaemN6Z0lmSktERFdabklVaUY4STg0aXZuS3QxS1FjQVdvczZkbFFGazZMdXczN0ZldTF4dUlrVzFJb2lFS0E0c3RoaUd6bTQ3WjJUclJSTXRHcW92dHZhZngyRVhuY3NXV2JiTGY5TG45RDdabmJ1VlpIMU52Yjd5M0syT25jcnF6RTloU3pOU3JYWWR1NWVoY0ZsNkU2QlNwdUpwNFNjNjJCTUo0ZThEV2tGekQ4RldGcG96ek1WVXlaT0VFdzJ3L25ESXJSVGgrVnF1azFLSmNRcXh2VE1ubGt4UllKa0xxU25ta3VsL21Pd2RybE83LzhrTnZWc25FeElLUzRYME16YkNGb0lwQy9jamI3Y0FBbERpYlV4SVFtWVRvL0xPUW95ZUVXSmtuYjdoai9DeVJSY2M4bWxNOUpueGg0MktNempqK0ZMMW9uVitFOStoWXM3WUtQYnJQNXpVeUk3ZzJaMXpUT1FUVzNZTHJzZmtxSThPLzU3c3FsWjM4b3JIK1k1aHZkdTdHODVuWldUWEM4T3c9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
8123
total =  147231

In [ ]:
# 五股  7,262 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/6a891abed1d5d46b78bc66a05160550c?q=VTJGc2RHVmtYMTl6V3VKNjgweWI0cTVpMG1nejl3WkM2MmJwM0NHdnRUeVdPcURCbW1YSER5QXZmQ2pRYmdSSUVjMU02SEtaMG8zRmdDdkwvRDNiVnExeGdFS1FFMWVFelQvb3ZkMFgrSGRTU2pzQUFCdGdNM2h3RTVlQUFYMkJZazRPRkxnemhoRnI2TTJlRjR0Y2tGN0RoaFp6TkNHZGlaYmNjZEsxa1BodjFOZ2ZsZU9QRFpCcWpsekVlWjBacnBiYzFMMFArV0gycWgrN0diSWxEVG9wVWl2WGVJZ2tNQVNxeEM4NlQwNXNiaTZVdXNuZzdQYVFlVHp3V21HZG9vSURaRTU1UVVTNmNMUUloQjZRTE04OHY3SC9TdThjR3M0K0p0cEJzQWVVNWdreHB5eHF5dFo1M0oxNlovZ1kzOU05eEVFQitoTkJlVTVPeGMxYjdFc2FaNVg4V3ZtdEhtcmllM1RNaW1HSGtBNHJTdDQvWDFwMWFzWGFwWWxVSlpZYkozaTBHRnAzWEp6MkdGSVdGWTdaT0xJL1EyU0RjS3h3QmJYSEZmMWRFSFVNQzJja0ZlZGI5MWE3a09pYTYrTGhkNTZsSFQ1WG1GTmhzcnJSWllwclo2ODJ3OHJQVkxYYjJpMm55QXc9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
7296
total =  154527

In [ ]:
# 平溪 3
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/d4e5d721eea8cf2d2350faf5d9e2445e?q=VTJGc2RHVmtYMTgrQ0NyQ3FXYnlaRXdMN0s0aXNSOTlSN1pwTWhpcjViY0QwZitGYW4wNFJMWDBhZURYT3c3aFFSeWs2N2MvN0p4VTJ1MzRYV05RWXlIa3BDcjBwVlFUSGEzMTFqbloxQWpiS0xCcHdYRittaVhjUUhQdm04SHIxWStiYnI2WEMrckN5Rm9uVlBPT3VQeGdRYUpUVGhsS3lHSXE3K2hKdi9IakZLSGxYOG5xLzJsbkhPQlpqWnRvMlROdk1tUG85TmwrOU1YK0IzMFVQcnpsYmhKY2FpTHBLWkVjT3RYVjhOUFpjQU9NSmppZG5YN3lXQ0FWUTEvT05KQ3Z3S1JWOHkzYjFQUS8yc1pSVk1FU2c4L0J2T3dWV3F5MTdiTGN4ck5QUWk5cEd2TVhxdkhUSXhTS1dMbitvMnRtVVJzT21wZlBTNElSRjk1VnhPYXVUSlQxaGZyakVVVW1NOUFFOFoxWFYyUGQ4WWdKZ2ptbVE2bitqS1RaNVMyb1Niblp1VVRRcWxKTHh3T2ZianhXdGVnYjBXelRSWUFUVzJ1U0dlcHFuMHZDckt1Q1hYMGVkTm9Fdm5pRVVlc2lvMC9vOEJKcVhKYWc4eUlyM1JyZUR3ZjFhSE1iYUVwZkY5dzViT3c9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
3
total =  154530

In [ ]:
# 永和  8,546
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/ea9db993c8b80ba668825902d62fbe8c?q=VTJGc2RHVmtYMTlsdFlha2p2OUNvZDl4WVdYSVF6NWpjYXluOUFaaHg5TGhKeXg0N0NhNjNsOHhiNlN1NVUycW0rK0kraDJTbWJTcW5RZWMrckhQM2lidkdMSTFzRTdLVE1aNUpVRjBLQmNVVWsybEhrSVZxdy80UXhwZUVBYjQ1a2lhRTBzR1dORjNZSVhlSXpFYXdENmtiVjR5Nk1kNnVkMUtwem1ZMGU0UmdtUDUvb0c2UXpEVnI2NW9hKzlvMnFpT1R6WXFFMjRXYS9oYzg1MHBWREVHWFp0K2NleGpmM0ExWUZjZUYyN0xVSUNVc3g5RTFDNExqZm9nRzFkMENEZkZ6aGlzYjc2c0FGNEpIdVhWNHlVWG5XTE1HK3dqcll0Zis2ZEVpYU9hdjIwN0lsb0gvaVlVTTNoN1VIT3BUQTM1MUc4QWxNNHE3dEplRFRkZmZaRGx0M2FwazhReHVMbi94SEJtOFdZRUhGbGJucjVsdTN1bStjZ01lSVRGZEZRT2dhTVZDbmUrSk41NTduOWcwK1NKalJDeXZhUU5kOVhzbkEvWkg0eXhXakFzb1dnK1QxaTNkUlRFUmpjNHhYcWVkQnY2YUhpVGpQamQvU1NKN0l0b3dZZUNicTZmMlNNVDhwYmpaQXc9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
8596
total =  163126

In [ ]:
# 石門 34
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/5d9578f3029d596340da2cdd8a4ceda2?q=VTJGc2RHVmtYMTlxcElBMW1QMVczeGx6ZmNmRkt4K3E2THQ5cXBXVHpOL2l0a1R0RlBTWndrcldNeFVpeE5ZWWhEZG0zR3o1cHVhZytqMTNOdTUwTnVpRk0wbzMwSkxBVFIxNkhadGNsTnA1V296NU1kMFdCM3NaMjk0NTU4RHRMSmFpT1o1NjBoUGk0QWVHU08xRWFIamFEQmVSSDNnUVJCUWlqZmNOeU9kaVhqdTFBdTErVFBvMjVRN3loWlFGc0o4Tk9DNk1SVGY4MitxMGdHKzEyL3FVRVNRSW50ZDhvMjgxY09XcTk2ZnMwNUc1Wm9jaXFwenhWdHdnSlVMWHN0emxzVzl5amNieEJTZ3dHZlVRNTlENndQTDRQTFpBZEQxREJMcmlNcS81S1pjYUZRay9jZ1RLRnUrd3BwY04rRGc0OURGT3RWMU1QVWZtZVhXQkVlc3RsRzdTYnVoVFJjQzVNNlRNbkRpYVRIelplbzFnQ1FsT21IWnFuQjZvVmQxd25qVlNuVkFQY0VtMCtselNzckRTT1VCVnd4MDlRekRLQzVUVUhuUEJia2tkVVlGNDZUNGxlQ2w3Mmt5NGw1cTRuTVlKN0pTVXJsNXVML3NWakZQejIzTmNIcUU5eGpqMEc0V3FUOEk9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
34
total =  163160

In [ ]:
# 石碇 37
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/20aa8b0f715a6344ce7385a59a4e8df4?q=VTJGc2RHVmtYMS9rN3dKN2JaMHN2bkx3b0JHYWZ3eDRhTldhTlRQTEU2eEYxMnI5RlFSZ1VKNElsalBuUk9NSTJWamNCZzNMZUhQVjNxMnVGM21aRE8xZ2h5Qy84OXkvNGhOMkRJdkhTRkNaOTBoZmxOQkprSEY2elY5NkJYam9JVGc4aDFWWGZpV1VxanZGdXVWOXoySGFReXc3YlpOQXU5b0NkdTI1OHBzcGgzUHdpNkxaNDdoMUhGSkZaek5OTTJTNEdHV0dEYWFxdHZudE9iSXUrcW5OTjBFNkpmMHpCNkxNTDJuSTZMYXJPQ3p1Snh0eHJ4S3BIRzdVUHdPQnpOSDREVkkxNUVKYURBdTJDbWFhcWlKU1RTbWVJVGxzcnFtMUVuQXVjbFRCcHAwUk12TFRza2NyNVJxYWZDYU03ZnNtTEtweStXd3lmdkpFMUhFUGdLNXVYaDlWTmZIMmliS3lRMzRsb3F3S2hkTEJDTEhBb3VLL3ZFZ0h0SFUza3AxRmhSNmJNbEdjODcxTUJpVStpQS9NOXZIUWlDeXg5QlF3T2EzOEVtWkNhMWJObEpkZDNzenVIb0Jqb0xZNkRUWjhNOGhDbjlxL1Q3ZU5sTTc4ZnpUTVpnc291enljcllBSWk4L0djMFE9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
37
total =  163197

In [ ]:
# 汐止 part1 106-1 107-12  6,384
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/20aa8b0f715a6344ce7385a59a4e8df4?q=VTJGc2RHVmtYMS9rN3dKN2JaMHN2bkx3b0JHYWZ3eDRhTldhTlRQTEU2eEYxMnI5RlFSZ1VKNElsalBuUk9NSTJWamNCZzNMZUhQVjNxMnVGM21aRE8xZ2h5Qy84OXkvNGhOMkRJdkhTRkNaOTBoZmxOQkprSEY2elY5NkJYam9JVGc4aDFWWGZpV1VxanZGdXVWOXoySGFReXc3YlpOQXU5b0NkdTI1OHBzcGgzUHdpNkxaNDdoMUhGSkZaek5OTTJTNEdHV0dEYWFxdHZudE9iSXUrcW5OTjBFNkpmMHpCNkxNTDJuSTZMYXJPQ3p1Snh0eHJ4S3BIRzdVUHdPQnpOSDREVkkxNUVKYURBdTJDbWFhcWlKU1RTbWVJVGxzcnFtMUVuQXVjbFRCcHAwUk12TFRza2NyNVJxYWZDYU03ZnNtTEtweStXd3lmdkpFMUhFUGdLNXVYaDlWTmZIMmliS3lRMzRsb3F3S2hkTEJDTEhBb3VLL3ZFZ0h0SFUza3AxRmhSNmJNbEdjODcxTUJpVStpQS9NOXZIUWlDeXg5QlF3T2EzOEVtWkNhMWJObEpkZDNzenVIb0Jqb0xZNkRUWjhNOGhDbjlxL1Q3ZU5sTTc4ZnpUTVpnc291enljcllBSWk4L0djMFE9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
37
total =  163234

In [ ]:
# 汐止 part2 108-1 110-11 10,170 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/6a54751c06cdadbd5f5c6ce8075ea6d1?q=VTJGc2RHVmtYMThES2tEQXcyZkd2bWdTZC8zaUVvRlR0TkprWmdObzE3RDFkSWpYbkZaZzY5L1RZc1BXdlliTE1ZT2FaYlFxL2hVVE9QRmxqdlRVeHBzc3FBdGRnVmM1YTV1QW11bWphODdGMUM4THpjenRWdWlsSDBScW9BejZmZzhTWlN1ZHhjOHl6ZThhUVo1bUlLTllqVi9jWkxwaEpWU0kvSE9FVDIzMnZwSmdnQlZVcjZSNkVaT2VlQThWZ3VjVGhKMCs0ekZjbmxWdzZhTEZVOUpOM0tpNEpEalZlTmo3OXFsMEhaZWJIcldhMGR3MVpJRGFiRnozSEZEU1FzVWlBeVMxNnE2cGhmWlVBck1YM3hrTzFvR1B1ZWhJREJFSU44Z2VKaW5rVGxCOVVpN3diNE45aHg1c2dlMG5PN1R4aGlzTlQ3dVd0dlp4T1N6aVJlc2xvZm96djl3MGVxL3E5U1VZUWl0dFBqMm00bWZJY1pla3hubS8yQU5nV1FuQ3I1VnhqQmhPcUdGS3JXS25EVHZFaUd1a2huckpkSUJQRjU5UHlRNldLeTJOQUMzVW9TcnVkMzRxZ0lwdHI1YjJsT01GNjBhUm9QdWtFc0pENkR3Qkx0VGJVOGxHRXBMbklxUUcvaWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
10332
total =  173566

In [ ]:
# 玶林 4
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/16858e41bc86a13c5d622375d97afce3?q=VTJGc2RHVmtYMTlzd1kzaG5RVndhN1JGMHJObzdtUEJNdFp0aDIrUlQvcFpJWEd0RW40TjRtNzdYYVFCSVE2ZUxHQUVxc0NLYnVIQ05rdnZGMkVaR3F2cXluNDU1YTZmeEZ5bW5KNlV2TXVQa21DeDlTSzZuZEJFdG45eHpYVnBOSDFjS0Y5SWRJbEJGQXRHWUFwWDFpR2kwSEJpcG9RY20vSEpUWlpzTmVNTXdKSGxQZlgrYmZHQndBTitjRGt5Z0pQM3Q1SmVHOGRwQmJ6ZGdzNmY1YXNwRmcxTVdzTUhiM3QzWUJaQzVFOE01THd4Z1JMN0N2N0g0eHBzSDBFb0VmdG1vQ2MxNnJUcE1aRkN0ODNSUTVwSGFvZG1ZWm9QcTVzM3BzWDgzZGc4ajAySFFpT2JqOTBWa0Y1L1ZCY3VnUjN6VWFFRFIzMGtnTXBjSG5nUVlOU1JIVE9YOGhNK0J4NFlQTVBDdVI1WDFmSjhIdFZzRnViZktNNXR6cktDVjVvRzR1Y08xSnEycm44U2pkWml0TjRHVnJ6MEJHV0NVUDAwV0JHTUdJOHpOSDhVM1VDcC9Fa0grUFlibXRXOVJLUnZsdTFyR3pCSzNwU2hpMWlXbGhMOEFGNEpUVUNyeUF4V0F4WXZPMHc9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
4
total =  173570

In [ ]:
# 林口 up 5,230
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/a9d0510e10039ea6fb12f86060e4bf40?q=VTJGc2RHVmtYMS9Nc0F5ZHd2SG05Z1c0cTdQWncyb3NKVjZIQlVHL3E1ZXk4NmVaWml0a0c0NVJRdFlyOHRZWG8xZEV2b3FPaEx3TWp1T2F0MldWanpIcXhJdmM3THFHSzlWekVCM3RkUkNrRHNSSVZsdzVJWlZPSllZSzcvcGN5OWxYa01oOHA0S3o5VTFZalZ0bTc1TmNiSGNXY1Zmc1hYZ0pwaEtrR3VEMThaU1dtdmZFcEswZCtZUEt1RFRmc0FVbFcyUGV2RlVERVZyLzJkY1QrbHhKZzhVaTVuZVJpVWNOTHVKZjdiZ0lDK1dZMWRIUUVXdTNxKzUrblJycFZmQlR6N1QwaG5oSWhXcEdSdVNGVmdSU3ZYM2c1TjcvY1dSRkxrcmFVakRjZG1tZW5vSkN3RjYwTVVqNEdhN21tNUNFMnNENVUwWkFsNStvWmV5blFoZEo2UFBaeTZ2NFNRVVp1VDVwZWdlSnZKTzlXbHVxOUVIMXNHQUsvNVlHVVJWR0E0R3p3STlmdUhVL2tGUHdPcTlMbDdvdmN4OHAyTmZsSWdXU2ZZQmxqZlZkZ1RFMGxySGZsbit5VHVyQkpYWSs4WDdMekI1NEdaOFYxNXBob1U5ZHdLZmRnS0RxWU1rbU01MS9pTjg9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
5230
total =  178800

In [ ]:
# 林口 down 8567
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/102e44e35a89ccbcc2e813ae2a9b7e15?q=VTJGc2RHVmtYMS9vUDhZR0xQZUJGNkl2Q1NYcDJENkcwcVpObWJDdDYzL1daUVBWa0NWLzRua21yRDdBdXo5RDNaMlNidC9DNVdzc2l4YjUxWktKUms1RWU0eHlFSkcwZlR4ZGZxdzV0MzNBeW1jWWI3bVcrODRZOHJCMjVFMnNyOUVucXRGZDhyU0NxU29WNS9TUWFvTHRTakdlb3lPcWQ4b3h4c1RiQXR4YWgxenM5L0Vkb2xOdmZHTkVhZ2J2QzNJTXZMZlhjUnB3amtVM0xXZUlPMzEyS0w5bk5MOExDRm5EbHFtMFp1Wk5ISVV0Sm14eU9pOXF6a3A1cWN3RXRnVW1KTGxOMHliWE50TzZpSDYzSVdRZ000dlpnaUpBOVFTQmZwUWI4c25zakhPblZpd1RhTnl4N2tRWEpRQTZ2VHdDaTg3UjRaME1EU0RubVRyR29iQ1JOMnYxRXBKWU9tdWtNRkthUFhFVkpOYXhUUHNEdVRPTHZGOGZJSldaTWZzZ00ybkhVTGM0cTFDSlhCbWIxSTFMejBkNHRYSGhGaGcraGl6S2o2SDlUb0FoSWdBb3JJaGNsV1E2OUgwK2FOenFsTkRjQTZMLzhXU1hhSG9ZbXAzLytTY3loV0FoVnE1WGEwcmp1U0E9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
8567
total =  187367

In [ ]:
# 板橋 up 10,349
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/f45d87a4ed292e759a6345aef3703403?q=VTJGc2RHVmtYMS8rcGY4LzdHWVorKzZUUittUXYrTDVJcDZTWWF2WGVXaFp3L2tReDNXQktaRXpTSDdBQVpuT2FYbUZTdGVVYXplRkM4dHVXdVZGazlqSktYYTQ4ckhzNDZkVHd5ZHhCM3F5ejNIMjVxQTdnT3hoZERwbG1pQk40WFhGeEJ5SGN0TnJWNGQvUWRkTU9sQjJWcldJWFhWWGF6a2poU011ZEFVQnBOWUxKWjU0NDczNHB4VGh0bDFwbllBMysra2kxWnN3SXpVSEd1aTRYbko2dWhqUGx5akdyb01BbzAyaFI0eDFORnplUzcxRDZFYXJvbmFaOG1jL3RLTm5aWVMzb1p0a3ZoZkZDRHF0MFYvZUxqQUplWjA3QmYvaHU1Ui9pZWhkWHQybUIxNmdaOXdDb2JsanB1Wm9rQ0FiYTVYNk9jaEZtU0RWNGltc29vdXZwbStya1JXb3IwbW82SjZhVm83R3BkRGlubXRPQTRUeDJvek1MNnh5dGtCZXlFbjgrTkl5RXZtK0MxeWo3eDRxdk1TekVNQldvRnl5eUI0bG41eFd5RlluYWowZkpzVlJBRGxHUnF0Q0gxTzY3TExDSFUydk1VT3Z1dnhKYkNNRmRVWnpGNnpQQjFLcDJyWnFnTU09'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
10349
total =  197716

In [ ]:
# 板橋 middle 108-1 108-12 4,680
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/e9bd74efb7c847de38a3c855c3709c9b?q=VTJGc2RHVmtYMStIREFVRHFUbFNnVDBhV1k1L3Z1SXFteU9DQk0vN1NxSmVOaGZqVGtRNFZoSXlsOHJybS9zc2t3Z0N2UGdDZzEzajYyL3phQUhyZ20zd2EvVk9EVUVNenQ5YndQVGI3UzVtdHNpQkg0aWM1cC8zd3h3Ujl3UmF5MCsvNklwRVlrTGRtRnhtUjRRTHdpSGtvZ2pBdnNvN3FUeU5YZmx6SzFpNVhyRDUwY1BGTHY5SlJwbktucThaYzkvNmxNdkZVQXFzallITVUyTE9QWVFpWmZHbmlQcDFaL2o3Q1lYSFd0VTRpUWFKYlpjNlVvWU4vR3NOaldkckczczZFcW9mMklrMXZIZUtZVmEya1hLSzc5NFlwVnBObXp3a1VuN0ZKcElHWGpubEpxL2VGeTdNMml5WjF2WEdSSmlrb0wwWE5UVi81WHA0bXNNSGRvMk5BanN5NlllelJZSDZvKzQwbTI3NGJuTm1OL0p6bWxVOEJsS0hiem1KZmszdWpzamVaaXZoeWp4RWFKdmIwYjhEZkh6MkV2U0NxRk9ickNFaXN4YnBYTHByaytHRndjRnZrc2xEZ29XOEpFR04xaGVzTGRLeWIwVE83TTZDWi9JRk4yaFFrbW1iTzlYczFQb3FvdWs9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
4680
total =  202396

In [ ]:
# 板橋 down 109-1 110-11  7,855
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/dfb9555ae1423b48a8f40d22fa37587c?q=VTJGc2RHVmtYMSt4bmlqMjVJdSt2M0Z1ZkhiaHY4akI2SWx3c21IeXFiS2V5K1RvUlNNTDFVN2g3eVlSU0N5WmlYbWhXZmJMWjNUeThNUGgyUElabUpDYXcxemdtaUdRY0p0VnlNN0FrandCTm5KQmQ3YTdGR2JzLytUcEl6S01zeGdPUFZZTVdjajc2UDNXWGZLMUZHTVlpdHkxQ1pMR2V1UHRSZFVMd01RM1pMWVF5U05yME93RmE1VzJicVN0UXBiSTJaSDVUYmZ3anJ4Si9EUFlIZDUrcWFYc1JCTlpRMUFGamgrUmZOc1N1M1lTZlpJOGEwMEFUNEhYNDc4ci9SMUgreGZRd3RBcUNkSnE0SnY1MW12ZkNDNjB3OVM1dVgzWW1zc2JWRXZMOWN3MUpJM0srT3JuT2JEVHBQdHpSNmpUZFdrdkI2UHdYN0NkVStKSWRTL1hYZ1FCU0dJS1RDR2R2KzFjN01SYXcxQktZRVZJcCtNUThuVmhYNC9RaU9RbE44YUZzd0hoUkZ3Z2daS1k1SmMvU1ZaYUZWMFFkSWMxVFRwNGRkaWNNbk9nTXVIdGxRMThwZ2dSeXdXMndaTit5MDBrblhCY0prQXJoZkNXYUxNeFVoUGZMTFF0dTFaSXZDQzlLZ2s9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
7855
total =  210251

In [ ]:
# 金山 674 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/ae047f63ef7c55e88af1570f551ed96e?q=VTJGc2RHVmtYMSsycDBwekk5enVLRDFralNhZ2s3bmF2UkdWbzFKeE8wU0tBcElaeHFwYkY1K3E0MUU1Mm9yWC9JMUdFcVlncHRhRDRVVWplWGF2TnZINHlJVVRKV2YwYmJjdXVtWktaWGlBMkt5NmNTSU9CYTNjTklrc1NJQklnV1B3VHhhYXZxc1RiMUN1K0dDbGVtT011dGlSMk5KNE5Wa2FYY1I5UEtQYlNya0lXWlMvcmY5aXgzdlIwY3c4ZDZqbkIzT1dSaUJLbDZ4UU9PQXpNWU5wZlhWN3pIWUVUcEpOaytkeEN6dGt4T3U5VWk2QUlURjF1YU41UjFSK3RObnRjWEFCYmEvUFpaTUNQRVFtdHIyNllNVFM4c3dsYWM5UGdSa05OZ3NvdkZKbzZVa244Vnh2dG1HSWdkdklNWEpzekkxSm9hWDhQM0hCbzEvSTkvOGZaTUlkR0RvRmg0ZytBb3k4aWdzSHc3Tk5BV1RGQy8vYnZJbWNKZFgvMUo0a25JM3ZRQjZzSFRoOHoxTEFLSjRxQ3g5d1FqRUkvOGo2TUQyRmwwYTVLZ2tiREFRL216TmNsUFNDNlZXWUMwZlc0M05HVzdaM1B1VzBOVU1BMDRRQytKeFllYTYveXRSaDJhOWI4NWs9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
678
total =  210929

In [ ]:
# 泰山 3,159
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/43edf53b641c9f8cc606f0ef951e3ba3?q=VTJGc2RHVmtYMStDTXEwM3RWWGJ1WEpmcTQ1OGF5TGdBL1k4YjE1dDlJWlpvTjE1aHhGSXY3dFlzRUJ5UmJ3bldrUUtRK0locDVaSi84RkRIUVVFc1o3Y2xnYWN6KzVkeXo4WEk2aVhJZVMxdHdSekI0cFBuK01TdjI1ZnRCZFZudXNNcldXL1M1Ujh3UjZmVExQTEU0QS83KzlEWHhzYnFsQTBwWEVpYmdNbFpLZ3FsSDBNbkhlc0hjV3orWWh5VEFmNmU2MERHQnJwTTZhWWNJTHFTUFBOOXltK3k0K3BSaHY0UjUzVVNHUDNOSGpWcWppSmNlRFhvL0NlWHJLQkZ4Q3dJbCt1QkRBS0F1bGpaeDRPQkYzMDVEM3o0UmxQTjc0cVpiT09wQk92VFEzRytJdWJXUWVyU0NDT2hDR3hveXhGVTdiYnU1NGN1SlpOa2o3Yi9FN1htVVNVeWRTRmtxanovNm5NYTM3UWNxUmptR0ZlaGJBV2piRlFqVDBkNC9YK3FkZVFrS2tSQk5wVi9CeGlscDRpcVdoU3ZSTm1LTjBKdDF4WmVjQnQ0TEliaGFTeDdpWWgwbE9wbTc5UUNyWUFoWXhZamUwNmNUK0djQktrYk9iaUo2M1dIL2gydlgvZzdhZFBnSE09'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
3190
total =  214119

In [ ]:
# 烏來 4
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/22b76489533511e2071bb198d2caeb71?q=VTJGc2RHVmtYMSsxdk84bXRWTFZZYWM0UVdYVmNDN0dWOU1pWXdlV1lwQU1pMDh3SG5VWjdkWkhJbDlqc1BBTnRoVklOTEQwaVo5d1h4dmY5VXh5dGtrUWVEZDgvT3VIem5na3NJaldrOWF6ZjlrT2VSZlpHVHJoSjc4VkRYT0VUVWJoOHF1MDAzSTZKZ3V6MlJTZlY1bDBnRUZReVdlWkRWSVBUdDZPbGdtaFp5UFE1RmZzVjZHMnhrSUk4VkJLTExBZ1p1eHRrQ3JNV0s1WkI0MG9DbERTYS94OTVQeFBTWDlRcVRFN3FWNkVpQW1VL1FUUHdINTF0bHpldVVNSHJNTHpXRmtpOGZoUWJXemgrOHJkUjlTSFBlZW00WmZnRVp0RFBROC9ock9GbnREbGJaNzB4WFNzNWxQaHJUdG9QODVoeW9YU1FhTDJONmlSVW1BekNqcndNakxZNTJVbk01L1dFN3R1QmxDQmJRaWl2WWNZOTBRU0liQ21rb1RHSU14Rm9LaksyUUxMeEVoRWdXdy9XOURSSjRnQmtwakU0eWZuK3NSTlVBeS91bGp1Z29IQmFFcVFSS3lrZXZnR3JuMHFQSWtQTnRqcVg5emVmTnp6ODVWVVdIQVRiRXZNQy9URG9oaXBUdU09'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
4
total =  214123

In [ ]:
# 貢寮 83
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/c6129ed9124447b72c8af1f3461bfa28?q=VTJGc2RHVmtYMSsvS2Y4dW1NMlNvWXZDa2VveVdhb2ZQeDV2K3ZjS055ZG1TUmVmYmlmVmd4Nk1vR0lzQmROVGI0Wjdra3JXV09BYUd3VmVNbC9nVHRpdzY5cUpIRDNvZ3F0WUxYZlhLU21Ebi9TbU52eEhSZmw5NVVHcHFYczdlbXZZU2JERHJmVXBPZCtPeng3dFpNRThCd1dNaTg2ZlRZVnBkUldwZ0ZQRG5PdVNERGhsOFJ1Q1pYVnJNSk1tWXY1U0o1b0FwTW1vRTdvMko4aG1OcEt2SDc1ck05R0JKRVA5MW9hdmZ2S3VZbEpaRHYrVTQzT1pkMk14QW5RTFkraCsrSUc0ZThPYmlYNDNvWm9ZWjRPSnV6SVdOd2prZGtKdmV1emtwN0h6QjU5eFBsUUtaVUREMzhWYXdkSUdONDNBazgydzdQenNsOERNdk00S2dNL1hpSWR6eDVxYUdSOEF3d1laY1pxcmlzdGM3d0hQVE1KVFFiZ0tXcDlJYW9CWlhvdXBTOVVIRU82Q3ZxMzFwN2hRSXRpUVgxYTdCb1huQWRDOWlKcUlYU2UyUTFQUUxJV1pxbjdZTUs1Vk9ZMkJpbGZoNzkwRHBQUUN3eEg1QXJIM0JxZFlmZDJGODVFNVRMc3B0U1U9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
83
total =  214206

In [ ]:
# 淡水 uo  8,739 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/d0dfc04d75ec206e37bc83368bbeabb2?q=VTJGc2RHVmtYMSs1eWR6TDFZWFZ3aFl3K21GS0JCdGw0Myt1VDU3a0hBT1NuNWpibmVoWVBFbTVLTlAyZFl1SEJwT0k4UmY0b3BUeHh6RGgyZjM4V2xxVUVmcml3ZTgxdTVOcTh6WDhwYS9sdW1wVldDWE5HOGNYczVNeWxmVlI4RE14Q2tTYWNvSjk3dGNTalZjeGNGaVA3WWZhVnNCYmlaRWIrSDN0dm5CcXM0YnZmRElYY0hiVHZiMkwzdzRkMFhrYTc0SUVKRzlTcGZ3aXpuQmxiVnBMQnBKdm1nNy9GN1FHWHBUbkdLZDRUekJaZENPOXBjOE84ZHp0bWpXQzRtd0R1cXNTejZYcEdVMjBYYVpIYVBrd3NJaHFTMHhqTGhYU2Ivd0dZTFFsSjlGb3JFbkdoK1BDejZMQ3pPeE90YlFpS0NhcVo5Q1ZZMys3LzNCRVV4M3BTRTlSUHdzVktWZzBLZ21lWW5TNWVHM3Y0ZnpRVWZHczR6NHdsbkVqNExJUjhCV3h0bDZ1YVFzcDdsaCtLd0tqZ2ZXYXJVcUxWTE5udUl0Nnd2aG4wc1UxcG8rR1V6U2syUXlyY3llZ1g1b0R0Y3lLTWtBaXlHb2FjSllaclMvSTh5TEtsZ2NPUk4ra2JnTTljRXM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
8739
total =  222945

In [ ]:
# 淡水 middle 108-1 108-12 4083
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/9647ec38ab642ffb4a7d40d3c0ff678e?q=VTJGc2RHVmtYMS9maEtjeldKWTFYcCt3cDk5T0lXUlhnd1RtdU5OVzlob3RtT0o3NmpjeGdMZVN1bGJybFBFc1M3ZUlyTVY4bFc2SVFtNEpVWWduYWYvZERLbVRkWnY5QTJQWXN3QTVHN1VXcVRvR092RTJLWTNMQWwvem1DeXpvU09lZjBPR1lVNWxvdnprRkxJK2p6ZG5PSXZRSTM3RGo4NmRjQjlBdHZNMEM3eXdxSTJwc1RmMmdXQlJLWHc3WG1yRmpvcGZ3cEl1UEkva1JmV0E0RHBadU5IMGthalYrUWg5RHpKdVBwWVc2Ync2M2djV3FhdmhsZTRpZXJlY0NHS0RjdU8wekZPZ0Z5SnkwYXpiNXhMNTR3VGRpdkNtRldjWVlTTUZaeVJoM053c0MvdzJjaythaGtOQ2kxd3p0QjhVeXpBS1NSVXViRUNyQ0Y3YVFVTEp6RXY3cEM2MnVsRDQzZDFEOGxvSWJwQ3NlMFkyOGdvcnZQVjJJeDFYTHg0MDd6NTltZWY1REY0dThJQU1leU52NUdHK1Q2QUZFUWRCNWJ3ODhsem5ublRDc005QkppNWxOUmdjajc5c1luVCtuOTdZZUZRSG4vNWJ4L3IrRnByK2ZleWVpS3oycGVNcGR3Rkg5dkU9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
4083
total =  227028

In [ ]:
# 淡水 down 9,038
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/49e6d034dc2f0fc642c893ad663312f4?q=VTJGc2RHVmtYMTlaN1ZraW5KT1BXTjNXcmRJR3drTmt5T2NnMkd3VTdVZk5GTFlPamlTNFVqYUhCeTJ1a3BkMEJQNGlxRU1VVnN5K1BDbDNMbmtvdENIUnMrY1pjSXFWeU1pNDBPcGY1VVJLRm0yak5VUmFKVFRCclVqMnhTQy9tR3dDbnl6TGswNzlCODNLbXFXczNWQmJsOTNoVEF3SmdEUUdqVkRXbERPRi9LdmlWTHREWXIrZUwvS3Fra2NETzg2SVI0NmJTRmF4OTRBYm5KTTZnWHNtTWN2MEFXdG5BajIyelBmcjdFTUpkWjFPTG8wRVVlRzdweVNXakl0blNyVFFrMyt2QlM1S2lxN1ZLc3NSeGlvcm41K2RsSDEwWWJTOXRMNFVoNDZwVUcrckZyRGpiaEYveXJvQlh5ODJaUExsNGlEV3BYUUhTZ0x2YjNLcnJIa1VSSU9vQ0NpL1N4eFRBUTMyVVhVK2dkcUJmWmJ0OGVIemdlQW5SUGNiQkNna1ZzQVdQMmRxMzhwRE5wQzBNZll4bWwrYkk4cTZ3bFJaMENlMGdCQTZqZTJuYWVsMzBBcUEzaE8zcjhlS2ZBK1g4WUdPNVU0QVkraG9lOHZJbkZYV0ZYSXBXM3BaUWdvbjRia3FXVzQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
9038
total =  236066

In [ ]:
# 深坑 1,074 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/18d8d727f32cf5fd562b931409dddd58?q=VTJGc2RHVmtYMThDbS8zMzAvRE91VXdRTUpuYU5uRmltaGJwTnBsUTM1K0ZBTU5SRGNOdCtaaTd4amlYUGM3NGR3cEl3VGpoMWYvakxaQ0NOSlBwelg0Rkd1bDc4Mk12Q3JLeEY2YUlzaHFwSWpUYXpPRWpUOE5RSWplbVkwWnp1RUNWdkU4L3FiTUZXcXFYWHR4dTh1b1NPb2lpcFBLVlJvMnFtSldsMHdzZ1BEYjByQjFmWGhmb1NyamJWLzh6elh6NWswQ3hQZ2RYZ3gyMVREY0lKclczckxzeDRJS1VqNUo3K3haMmg1bUZhbHdKdTZvSFRHSm5PVjRwZW9sSFNtQVdtOUxXQUdSOEUyYUx3TFFRdzRZZ0tzbjFYWnkzY3JRVnVNdFJYTW1ERDR3UE9QWUpsb2FqWDcvTWQ2cDdwRGMyLzVXdnppZlNBOWpDTWg5dEJFM3QvdE9xbGltR05hRVZPWXhlRFpPaGhwb012MGg5cStzb3FKek5US0VRNFlxMVNuWXBpdzdDdE1VVTFrNmdaM3NhejI1VVdYWS9iSVZvd3NvMUFDV2x4NlUyVGJOTVlvUmVXTkpoUWpqb05wZ3RpSXhFVVZDTVEySEUxbXVWZUpINmt5YnVVcUZydktqU2FqK1c4VmM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
1087
total =  237153

In [ ]:
# 新店 up 7,212
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/b9b2524ec764aa918bb4cf1b01f55ac9?q=VTJGc2RHVmtYMTlGYTJFQThBbDYwQzQvS3E1bDJmbm5qYnpSdEErdmgvNmk5RzFHTkNkZTJIUVNxd2s3VzQ2SWVSTDNUUTIydExjUTVxM0J2bWxNQnFLWDQ0cmdZSC9kLzkyellVcE0zMTB3K0MveDZYYm81RStPZGg1Wlk4T2lUQVpvK2ZZUTk4Q2J6cjh4aTRiZnNDU2F1YmZYUWgvREhaVldxbm5naGJCaVdGSFFuc3RKZGVocjdHdEpUdDZBV2R3NHZTY1hES2JBTWdQZ284R0E5UUZaWldHMzlxS3FGVTZhOFhsTEFmWHpwN0M3SE40czhVQytpcU1yWUZoVUxXckZhVWs5SWFHRnp0WmhxYkxpUjBIckpYZGc3NUg5cjBPV09qV0l0QTNEYmZMcnJnY3lZSFZydTFWWW1WcndXTFZEdnYwcm9KQWVEZFRMRHVkdE5zNkhiSEQ2VFdxRnYzSEVNQVczdDFYazJpVERYZEc3SWc4dlpGOUdZQSs1N1ZySE5hNDZ4Vk5hVU5QajRESk8zZXlaRGRVQi8zenJhTjhheGJ0aXliQTdxYUZTcmJDOVR0RWFuUGdObHVra2JQdWIza3FMR3NwN0prd3Y2QlZXOU84cVZJeHJkS3JrNmYraVhEREJ5aUU9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
7212
total =  244365

In [ ]:
# 新店 down　10,061
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/db4c324126d449c2c96173688067d85f?q=VTJGc2RHVmtYMS9nUm1uNGZRdzdJdkVrVUI1ZDY2WDZOL0k2eTEwS1VIbFRaR3lBdWR6cFE0UFZIQVpSbFVwWEJ6eEc2SUlXcDhwanU2OENyeGtzQW8xdlVSaEx1Nnl0S1Q0VFl5cXhWYm8rQ3lhK3JoTkRzeGVJdis0WElVa1pPWG9YTXZkc1djVENFblhNNzZFZVo5Snl4ZFZ5UlZuclhSdDlTMXhpcE1hdkMyYk1wZWVIWC9HMjJPbEFJaWx6Qm5OSFlUaE9qWkFjQ2FHNFFqSVdZZS9Ra0VPWldhR2hhQUxGZi8xRTJZYUYzaVRNSE15eFkyWmdSY3dwVmVjR3N0eHlMY2FoMHdRVVV6MVhmQUFEcVBJR2FNU05LTEhPZkNNMzF6bnM5MGwrQjFZNUdPUSthQ1RQU0NmdTFQRmVMaEw4R1hKV3g3OWQ2WnBQaHhLV3ZHR2tvenZoSTlVemZmMlhDSUJCZG10R3VnYjRTQzRUNVovYzJSVnpzb2pWRkNQYllGRWNudWJVYTZ2QzIxajg4SlcyenExZ3FaWlB0Z2FOazFmRFBNUG1ob2RqdU80MHU3N2R5RU9hMTJPWlpWNVZUbWVXUElyTGpMaFVZb3dlTXVDalVNMmM2ZlJFcjhYcWRxOFkvZlE9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
10061
total =  254426

In [ ]:
# 新莊 up 8,269
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/55ca52eb80bd5b4771e727a4b97d9995?q=VTJGc2RHVmtYMTl3MUVYb1BTZFQySDVnQ2hUT0xubHZjZTRmc2ExYWZoMWZEYWhTM0ZkNE1ud3Fna0x4cTR3MGJRZGxOY2FqaC96UFhpMFp3bGhKZ0NHUXVqdFVBV2dZU0dzRnNPSHVtSFlpbkhIdU9kRjBxZFd3eTM3bWVSVW80ODk4b2plVCtEdVNLWmo2Qko0d1FoaStkUnN2cXNiakV3alRaaXdXeTgrQmNHWnBTSitkck1pZmdFKzBRblBwMnVzOGJsdC9kUVNRK09xaE83MGl5TXBQUm9od29CMHY3MnNIUkdsZlp4VmxaaG1Pb2sxNjZnaXlERGZFbmRjVm9BemtoQUR6VG1vZFdkL1F5Z0Z3YzJCVnMvTTBGS3YxN2xOWm9RU1JIS3I1NkUrRzVMQjhDdm5NejBUSEgvdkVFaDdZVnhzWHRObmNJRng0Y1hlYXptOXBTYUtXOExadnBqdGpBaitYQTNFSzRUM0hJK3lHUXR6anFTSHFCWkJzNXJ6QVk5NEptVFNnTy9kbWErWmo1eWVMZndEc2U4VU5xQlE5ZmhqeGJ0cGN5VVBMRWNNT09TQkIwVnJ5WlNORmx5UGJtb0JPeWRpelF3NThXZGVhcXpKWjh4TEgxUEJTOXlxTXp3MkFWY1E9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
8269
total =  262695

In [ ]:
# 新莊 middle 5,215
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/d803feb12482e7011705d4a648a4a561?q=VTJGc2RHVmtYMS8yVk1Qa1RSZHZNOG1qL3lHc28wQlByUEYxSTdpa2VkTCtNSnpVZHFaMGh4ODF1K05ucnJOaHRDczdBN21FQWs2aEI4Y1pPMmFIbXNzK3J6N1lTSmpQaGFOYVR6dVg0T25hVmtnUW5GWkQrYzF5VXVoNVJjc1d6T2pjTTdkWEw2bjdWV1hkbmoxRkJHdzJrNmJidUZzOGZkU1k2TXd0WjljTFJDbDZDRGN0MXBZempZd2F5blI1b09MdXkrVjVVN0Y4NjRiUEpyczZ6dWJmZnFXZUZSbktvRTd3ZjlDdjBuNTJpcmxpT3VwRUc4MnU2aWxDVFEvaVdQZnNONFhvODg0VUdqWi9vc1Jabzl4T3BDdjhVMVdwdXFIRERxWW00ZUVJSVNidU5NbEgzMnpvU0FHWWE2OG9USFhYV2xzdUFsYnoxYWR1RWk1cDhNQllRRFZXL0FzMEx5c1YybXd6T1p2SHhhT3k1cjd1ZW1TMzF4OEc3cWpxWmV5R1NnbG9nc3ZqeTRxM1ZwN01kVCtaTXlwbEVkc1VrWHoxSFpVZFpCdzVoSVFiU1JEU2FvNVQycjBiNG5EaklhUHpucmRVOU9pQ3lVUXI0MmxPWDRqK0pRckVINzQ1R1BvdUEydnA1eHc9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
5215
total =  267910

In [ ]:
# 新莊down  9,520 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/a9f90c7f0eee406a19d2eb1f231a131e?q=VTJGc2RHVmtYMS9SM09ER1BSSEN3VXN0eDhZdHhZcHk4TTVMTkdLZ2FYSlpkd2xSU2NhS01UZ05OR3hwQVZWSGxIR29lYzVHbnM4M1ZqakdyeWZVTWZpdkIwM0RrTGNPWU5hcE5ySlJ6K1RYcnpnb1Y2Y3NOb3VCbGFPZkg0cDVkdzdXUEI4blg2bnZkcTJEZTYwTWV6NXMydGt3WDkrcnhsVWxELzlqN1NWd1l3RG1PMVlwQ3ZVS3g3NXJYVCtzbGd0VVd1d0xBSjMxeEtEL1Yyd2dUWE1QY2NmaXVYNXdDbmFQKzBIeGxLNGZLdnBsU1A0Zkc0S0RFT2hrTmxCZDhJTC90N25YQ1JyMFZCbkdNTnh6eFpONzFMS004TkhNbG9iUXMyUnVKTXh6cktZd1JJb2FLSDVhM2RJY1hFbTA3RGVyTFdsNjhUckNjcklCaWh4RFJPR3lVQzhpeHZPRUtIYzRwZ3BIRmdsdDFuN2JVakJmU0NPQmtLOEZ0czRaQnlCcjNlL3JHWG5GdG84UksyY1d0S1AxbHU1OE81RUFZSUNUR2pDcXFYK2ZuU09sMEpldWFDcjFaTHJsNGRIbU4wRThkbmptVndnYVI0ZC83Umx6VWRJeXhhRE9GVHJxdU5QRnlJQjlpOWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
9520
total =  277430

In [ ]:
# 瑞芳 875 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/f2fd927d40cb3f27ed5f1a6f5ad5ab99?q=VTJGc2RHVmtYMS9iT0dFR2JIY3dXVVkrSjdLQnp0RDVSdHRmeERjQ2x4ZDhVS25rSkJzZHpsQWVyUE5vTzAxUU9Menl4VGticXAwM01KWWl1SngzOEpyWlZwZkFpUnlqK1dkeUVyM1FQRE12bytySHBteC9icDJpZFJJK05FMHVjSngrQ0xmNXdsbHFIQ2pxTzlYY0h5OEd2cmlvQ01laExUSlM4TXZNeWVGVkNCelVzVU9MeHQ2bVU4ejE1MGtMNGNESTJzZkNFSy8vTmVlN1JzNW5WcHk4bW11K2VyTjdjWWFTd3FkTndsTlRBbGw4MGNNWHBSWml4c3IzYWtVTEpzUWZ3c0N0YlBVcWJhN3pqOXZkYVJFTnNKKzN4S01ZbGc5Z3o2a2VwRytqTllYVWl6VnVqdVZacVNlRVpMdEdUT3ZNRzB2YzNFaENySEk5V3hTSmpXaFdqVXpKNkx1SGdJZi9oekNXcXdHeGNwSXA1YXp4RmVnZTFKbnJoejFMbTlMNDc1aUhpcUlOTTQ5UTdjK1NTN1B0VGtCdTlsby9sN3grYXBwVGxmNUNLbVdHT1dwNThHR2k4alVJYTFjZ2w5RzMzcmtDRGE0T3dheEJ4d1NZNmVpUTlKZHdWajNuQ2hBbGpXOWJmdzQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
884
total =  278314

In [ ]:
# 萬里 648 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/0d25069e1a99968b5b27c2033bb12737?q=VTJGc2RHVmtYMS84L1NtTDJJVGtxZHNISzhPQ1RQdWpENnhkOW5pRWprcVpNWldpaVJhTENuNTR3VHdiNU9lUFdlazlRUWYwWVFrSmhKVVF5MWIrN28yRkRua3B4MS81WDArRDRVOW0vL05zMldqem1pT0J1RUw2dWhRTm1EYlZwQk9YbXlZaWFrakJEVDRrdWREVWFZeTRKNVlJY1lmQ0owZjN2eTNsYkNFYkVhOW5lYy85OEJyL2phV01HVStCdW9zU1VHV1dqR2xaUWRZeHV5R1h6dXBqanpmNzJGUjBCaWl1UXBsNytLTGRmTk5neXFMZDhLUU1vQTRKN3p4QnRrdVY0Mk1KZUdNVk1YcnZXeDhQYXdVNEMvbThhNUZBZ2czOEZoc09taDFBK1F4QXBUUVlDOXJ1MEVZNUp3ekhoSC9EU3dxUkRtYzl6eHFaY0VTb0czZ3Q0eEJVMnppcWVPa0xSSXVDdm9UM3lucUVOYXBwcUdjN1ZTSTczUzFCcXBqeHZVbmUxcFYvQkxLRXdJTXBwVFNkQitqbDNlOUFJZ0NxcUxJOVJlSXpMcGtoMU5WQ3N0Mlo4dGxMcUJNY2tGUkJkZ1Y5aXdFczZKcUIxRzZwbTB6bXQ5VWRNSjJ3cklZcWE2L2JBaXc9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
652
total =  278966

In [ ]:
# 樹林  6,945 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/2fc33297df38cfca118b1e241e3dbea7?q=VTJGc2RHVmtYMS9ORnQ4ZEg5dFZkVDNVb2JKUDFvc3UyQ2VpcWdrNG1nNks5cHlOdHlkaXZOYlpkVGw2MUlqNzhiSE43emYyWTVldDhRNVhKZldVSXh2NlhvZFBPZXdxbUZRbGF5eWY0SFRhQW55WlNJN0YzNGRYZmJXK3ZjR2lqUjkwUFFUOXVBVUFKRm1Pb2FkSWQ1NEh4cG9rMnlnSDRkTTZPcWFheW5DbkVacHRqK0h0K0hHSVEwTEt6VVhxTFV0MFc0dXU3NVByOG1OdVUydFQreDlkR2NXMHc4a3BYdG9yeVN6L2ZnTTYxSlBWdWdwRUlVSFBWaTNmelcvN0c3ekl3cVpFeHFBYnJuaVlhSkgxbnZWcTZhdm9wbitvaTRhQXBVMnJRVjVZVDNoL1BVV0N4N2Y1RjNUbHFPeW5oL1FZWkcwWWpScElnWFhwSUhEanhDMUFJMU9GKzR3K1F6L0ZrbXI5My84eCttS2trZVJKbEM0Mm1FQW1EQ3hiK3R0ZmFQa2hoZ3BnVkVFVDF0UG9tblhrdFRqVm9ncGxpRWFqWDdRcS9XWEx0UE80NkFMMDZkZFlqLzBSVVIzMnhTWmEvU0ZLS0xxanQ2SEdURVBPWUZvT0wwdVlyN0xZMnBpaWthWTRLNkk9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
7009
total =  285975

In [ ]:
# 雙溪 59
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/4a47185c12c86d633d1f31ddea025ecf?q=VTJGc2RHVmtYMS90d0wxQ2ZtU1NxTzNYT3I2YU9vUEtIUmNwcFJGeGRsR0ZscjBoakFNWXJHR1BmZWxDY1NYUEYwLzhaT1NmSDJUSzBTN3VQTWoyenBNRk1ERjJnRmlkaWNYb3MwanNNQm5BUDBJNjh3UEVyU1p5eWE5UG51WEF4azhWMnJvOXJaQWs3bmpWckZIWEhxam92TXZsRE5KelZWVWpNRElIOUtCaUl3cnVzSWx1bDhYUE9Zd2NDZ0xQdGx0eS9Oa1hOSS9QRkxqSE1XTjFyOEdBT0xzbmNTWEhpTHFWUUNmb040YWhhS3JEdEFueVlpSk41T0FPM3VWV1BiUkxISjRMVGZPRGZ5dkg4cmUwMlc1QTVNaDRaZS9rRlZ1T1ppajhySGhLcmRqV1NRb3VzOHRDdGlTVzMwSVkvOFNVditPT0tlcTc5WmVJaVcxRmZHbVJ4ZXM2TlpRWEJWeUYxSkdpSVFNQ2ljQmM5Y0NCczBKYWgvTGJURStWaDIzUHJtWjJTeHpBem9Iek9XZHl0Qm9RdkMzbnhFOUQ5aWZxUXVvRVBJYmZKVm50UXdiNHFiNUhSTkdSWnI2c3RvMU5vVVp0SkNMVjFpTDMyNW04OTZ6NXFLRTNtUStLdUpKN0NDVGtMeHM9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
59
total =  286034

In [ ]:
# 蘆洲 7,442 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/2fc33297df38cfca118b1e241e3dbea7?q=VTJGc2RHVmtYMS9ORnQ4ZEg5dFZkVDNVb2JKUDFvc3UyQ2VpcWdrNG1nNks5cHlOdHlkaXZOYlpkVGw2MUlqNzhiSE43emYyWTVldDhRNVhKZldVSXh2NlhvZFBPZXdxbUZRbGF5eWY0SFRhQW55WlNJN0YzNGRYZmJXK3ZjR2lqUjkwUFFUOXVBVUFKRm1Pb2FkSWQ1NEh4cG9rMnlnSDRkTTZPcWFheW5DbkVacHRqK0h0K0hHSVEwTEt6VVhxTFV0MFc0dXU3NVByOG1OdVUydFQreDlkR2NXMHc4a3BYdG9yeVN6L2ZnTTYxSlBWdWdwRUlVSFBWaTNmelcvN0c3ekl3cVpFeHFBYnJuaVlhSkgxbnZWcTZhdm9wbitvaTRhQXBVMnJRVjVZVDNoL1BVV0N4N2Y1RjNUbHFPeW5oL1FZWkcwWWpScElnWFhwSUhEanhDMUFJMU9GKzR3K1F6L0ZrbXI5My84eCttS2trZVJKbEM0Mm1FQW1EQ3hiK3R0ZmFQa2hoZ3BnVkVFVDF0UG9tblhrdFRqVm9ncGxpRWFqWDdRcS9XWEx0UE80NkFMMDZkZFlqLzBSVVIzMnhTWmEvU0ZLS0xxanQ2SEdURVBPWUZvT0wwdVlyN0xZMnBpaWthWTRLNkk9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
7009
total =  293043

In [ ]:
# 鶯歌 6,577 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/e4eceda73589fd756cfb8462f202d70a?q=VTJGc2RHVmtYMS8xNS94bHorUzFyWHE1MTJwS2p2RzF3UG5GYU1RclprZCtMMkc5T3B6SldEVSt0QjF6QjFPRkpCTDdrNE93ekVDb3pMV0hwdWd1MDB4cjVZZ3VsT3dSZHJhYzZTNk44NzE1UzQ1VkVmMGtBSkZXcU5RVmFSKzhmSUVMYTJTc2JmTWRkZ2VNM1Y0T28zN2ZYQVE2Vk1EY1drT2s5WHhYN3JWOW1NYTJyb3ZGa2lPSUVqQnNmZCtSck9pcEVSWVp6dEo0RWYwVXBKZzh3bVFsbkM5dHV4bnIxOGE0UmM1dUtjWFdWTEQyL0VKOXVvUkJrekdMa05NZkovSlZHbTRXcmJIZERkcURVWXJ6SHdVWWdZMDZ6NkttSnlKT0o2S2tOMmRSaGJYN094a3o5OEVvdThpZHU0bU41WnkxaVlha09oejNFRDYxeTNQZnArNGZKNzBsbG00QU9UUjBVYXErOG5RQ1docVR6WTd3UmIySkJjbU80Mmg1VURpMi9Ra3J6K1VpSEd4VkxJdk52REt1cXBxU3plUXVhUmF5OVYvczc2ODRibm11UEtneXd5M0VGTTJnZjc1QzkzNGhFM1ViK2dLWmVXb3JxWFBiSWNYY2tDcVZmYWV6MHZuN0dHTWdBcFk9'
res = requests.get(url)
print(res)
print(len(res.json()))
new_taipei_2 = res.json()
new_taipei_data = new_taipei_data + new_taipei_2
total_data = total_data + new_taipei_2
print('total = ', len(total_data))

<Response [200]>
6577
total =  306629

## 宜蘭

In [ ]:
# 三星 918
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/cf0b0238c393daa027feb4cb749013e7?q=VTJGc2RHVmtYMTh3Ym41YTNnaGZsQmRTYW5oRHI2b2wrMVYraU41VTFFM3lEay9ERW0zcFdXczVMSm83eGNVc1BBVzFsUHprNnpwYU1LUS9Ncnk5QitKeExVRzRzdDFyOE1vRzB3V1h3SWNYc3h2c3BTV1lCcEs0SFNTVEovMHlhc2hwdGZCRDNVNW5NQUFJTWVUNHhRVS9oNEh1SEFNeWhsR2hJQ0NnRlRvanhjV1FRd3lVdDZUNWt4OVd0SHQ2bXU1UHYzdjVzcVUyaWRNTXByM3RueSs2c3J3OVJyZW9SaWd2ZHJoWm13N2ZoUlplckNneGZuSHNpb21TeWZZbDRndStXL0pISUpSRWRMT08za1NnUWJlK0NLcGFIb1N6c0JwM29hUS9KNzF0Wkt5Y2k3dWRmblFkMUFjZjJiL2p1UnBzVjlrS1VoNUVSNmN5RjhRSWtWNmRmZzRYQzY1Y2dnNzRFL0t3d25xKzVieDA5ODB6QzdxZHJpSkFLSjVDcXJvbWE0Qi9kc2VxeWdudFdPekUySURwMEdKYjRmS1o1TjNuY3E4dVFnYUY5bnFRQjNNaUJFVzNOK3JpOWVvU0ZVbS9KYnhNU2R5dHY5U1d1aXp6ZFJnb09abCtrMzljUFF4UXFvVTV1NTg9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_1 = res.json()
ilan_data = ilan_1
total_data = total_data + ilan_1
print('total = ', len(total_data))

<Response [200]>
928
total =  307557

In [ ]:
# 大同 7
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/bbd81fdd4dd2dfec5c178f604751cad7?q=VTJGc2RHVmtYMS9iU3ZieVl3TFQwZGdITVljSW1wTnZnWnFYODhZWERiK1BZY1ZMbUpXU29JWWFmbHdTclpNUkxYZmtwOUordnl5UlNiYXZyUGpRK2pucm1GZzhpNUZVSXlQTFpwaFpyWGlJckFsanNFUS9MMDhNWEY0c01YanYrZWlWMS9GeTdINDIrb21CTE9zRmdWa0M1bW0yelo2QlFRR2FaWTVSZURHZmYrcTBjVGRWR2g3ViszRGtBN05OVjA0OVF3RUhtZW93SHduN3NzMW5VRTI5OGlLajEvelVIYW5QVHVDWDVITXIzdGY4elZwekY1Q1NkZDZZUmtoSllCcEpFTkdxWlE4R0VpM0oyUzFqb3VNSS85NThPQ0ZNT0RyZ1Q1bmhyTS9SaHBqYkVNNFJlajMwRHVpaUJIS3ZyU0xUWndjMlZVNGZ6bmdVTkFkZnVGdmhnclBTWGpIUVpUSUd6alY1WFRlaHgyTy9SbUJzdE1icG1TUlhFTHBGQUFQUGFaTjhqTFNEUE4rNkNOR1FYTFZveTRZMSthS0F3ODFWeCszU2tVZmdoS2M0NTJhM01pWnVhQnk5WjNSK0tGc0JUVDVqVnVLb2RGVmlqOTNrdTUzenpRZlF1UWpzNDIxRExIZVlXUFU9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_2 = res.json()
ilan_data = ilan_data + ilan_2
total_data = total_data + ilan_2
print('total = ', len(total_data))

<Response [200]>
7
total =  307564

In [ ]:
# 五結 2,538
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/e495e2bfa1193defc11f3add08770ee8?q=VTJGc2RHVmtYMTlaaWpidElJYUU0YnpHVjQvRkNIOE95RXptNzRtMHV1aVZVKytTU0plY1hhNkU5b0h3OXd5aGo1V2F2M1dVQ0JtbUhIZkE4NTdBVmpLKzNaVHVJWjhyQTdpNWU2WW9TZG1FWnZEVGNzM3NhV3FaSGRzT21iWXJQVkQ0ejVKVCt4dVY4SC9sSWxIemRLNWtYdG5JMmVPUEo1cWhuczIrcXRwYnhOQmx1UEZ5TTJOTm5BZDZIOXB1b2tLeUV5MmRDa2s5MGc5YzVib3FGTDRDckc5VFNjdFlLL3JLNzhMRS8xN0dyTHd6cDJoRENtNENhQms3enAzUHFBcnU0UEZOY1dUZVhHR1JaWnN2Nzd4d1FwaHZhMEkxNXo2bm5lMzlmRUZvZDJXV3pTazU2elUzYUdFODFpS0JieUV5VWplWnpHZDRwSitidkVkYVh0MmJvL2taZXV4QmFOMHE1SGlxQTU1VVlXdENub09VR1dDMmdsVnNJdXZDbTArY0s0dnh4ZDB5bXk1ZnU1VXZhcDFtWFdJMzZ2Q21OWGJxcEFUM2M4M1RqMFh5RGRnYVpTNXp1Sm5MamZLYkM2S3VIM1RhWFl4QnEyd2Uzcjd6L0IyQ0RER3Y4eVQ2aDYyb3pLcWczcWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_3 = res.json()
ilan_data = ilan_data + ilan_3
total_data = total_data + ilan_3
print('total = ', len(total_data))

<Response [200]>
2557
total =  310121

In [ ]:
# 冬山 2,489
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/4e4af353f90d80b7de28f122637936b4?q=VTJGc2RHVmtYMTlXcVJKbVJmK3I1ZVNtUGk5RmRvK3dHN1plREpNaWxtdExlY3I5Z3RSQWlwekxFckpZTVE1bHhIdGc1NExCLzM1MFRzK25CLzBDRHhWZmlGYVZya0t0UWJRL3RVNTlzdUloNk45WFU4elNJWFlqd3pNb28wM2JRU2JjclRNNExmZDNwd1FwU2FMZ1VNdU1tam52SmdOUVE0SS9Da1RoSG1NeXgrSy9Ib1Qvc1p4MFlCS21BSXNWSG9nTW5sUXQ2RTZoMWxNUzRiRGxTWHRjaHBwVjhkMnIrM2tLaHpHQXlBaFkvWkZyYkxTRXZxWEsxbXZkUnA3MVAxbVhNWjhZeEcxeVdqOUl6MnZhMnRyM3NaZ0Y2R2hHZ3NaQms5d2NYOFNDZWlqSllhOWhJemtvdVlOKzVvdVFkOWRObGFzY1A1enlXb2NGM1JrQ0l5V3pDL0s5SVI3UEFHNklXVHBCR24xNjlodC9MMEpnNXdTOEtTMmh2S3pZZm8vQTZIRkh1RGM2cDJlSmdoZ3MybXVDbVZXYnJSUFBkWk9BaitGSjRocDYwMFpFbDhxNUtwa2lyWkNMbnlKQmdKdFc1Y0tQVUV0VGJJcWxibExpTWJmbnA4Yk9DckNmUjhoM1lxZkdMM0k9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_4 = res.json()
ilan_data = ilan_data + ilan_4
total_data = total_data + ilan_4
print('total = ', len(total_data))

<Response [200]>
2507
total =  312628

In [ ]:
# 壯圍 5,477
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/671565bce15d633e58141699647d2e4b?q=VTJGc2RHVmtYMTlIdkhCcFhVU25aV1JZbENETVYzUW1HSFZGUDJxZisrVDV6Y3hsUlI0ZjAreGV2dXlETkROL2c1b0hJbHNxa2d4UnI0d1pWaHJCQ2tzelU0SzV2MzVMRXJGODFGeWYyWmQ1eTJZRGhQejJoV2pFQ2JWUGtLY1kzTDNKdVVPYnE2ZHBtbVFXM3JYNmhwcjdxeW5iaXFIdUVTM3hLWXZKR2wxU2ZjV1lLSS9sR0VFcXNkVlRlalZtMUlzTnJJMVVXR0hJR1JEczNpQXByU2hoWW5raDlZUVN4bEVhekZHV2RoWmZIaWQvZTlrNDltaXVqTFV1cGxSUEZ4cCs0MkVFKzlQT3ZFZFhaME03MlJqZ0czeEtVeVNBVXBCZEgvQitLVnBNZDRiQ0NPYkNZNGZtT0tIR0I1TTVDNkhGK1ZQblB0blVIZ3NHWmdDYUcyWXdHTkFhSHFNWlUvcythdjdjNGV4Qk5iMVJybnV1WUJPc0ZOU09OUGZwem9OMTFZQlhyTHZaNnREazhvZ25XdC9wS2QrNmlHVEN1aE9JK1ZUSVNJaWFuYTFLeCtWK2s5ZkdkRmhJYlB2ci9uS0tscXE0eXpDY29CQyt1UHRLTHBjRE5BUmZIbFhhU1R5RTBTZktwYmc9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_5 = res.json()
ilan_data = ilan_data + ilan_5
total_data = total_data + ilan_5
print('total = ', len(total_data))

<Response [200]>
1082
total =  313710

In [ ]:
# 宜蘭市
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/a3633b24b65c822934b616255be8fd56?q=VTJGc2RHVmtYMS9PdVZDS1k1TDBQNnJ0TDl4ZXR6TEJrTW03eTQraGgwa1dKODE1Wk9wMzQybU5VRk1Xc2Y0dlhERDROWEs1ZUg3Q2FxZUZXclAvcjlCYXNCci9NaUdtb0p6dXFEd3lpSkt2MldVVzZPMERKbmZDdHU3clR5OUMyelUxdENEM1VsOFROQWdqSGxodnlwdGlqdVRLNlVBazBQVThWYWUzV25RSlhEUVFMNFBSbXFCN3gzRmRwTTlyMHBnWDFOWnhoanlkaU9NRW1SSHUxWUo3U1UzS2tYV1R2ZHZTdUZpZlZBb0F1WWRHdHNZL2JkNi9DdUU2QjdWS1ZZQXZqQSs5RHlTQ0t0NEVjSVhPZHhNTS9sbzZFejZjZWpoYjMrclByMzlNMXpVQklUMXZ5QlpXOXFobzBLYWg5a1FxOEFSbXgzOURHcXcvVVZnUmNHU2NoLzlhRExlTktWTldXREppOC9EVFpySFI0TzZ0ZC9TZm5TQXE2b0hGSDQvdDRYd1RlM1ZaODlxRTRlangzek43cWhiQlhUSUQyTFpDV1FoVzhQcG55QllFejYwSUU2MW44NlV4VlJWMFh4dTNRTC80dWJKYllnMzFrRVlhZGdrUzJsd1B1NjlOVm12UXFsVGVhUWM9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_6 = res.json()
ilan_data = ilan_data + ilan_6
total_data = total_data + ilan_6
print('total = ', len(total_data))

<Response [200]>
5520
total =  319230

In [ ]:
# 南澳 5
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/5936c33863b25c7f28a5b231f2f0c2ba?q=VTJGc2RHVmtYMTh3TjhZNnRsLy8zY1hZZVdnMWZ5Y21jK0ZiSk9kVW1vRWIvemdhUVNMTWF2bWwrdlVrRHJFanNhc1RRUTJmdE9HT3ZBY25KOFpPeVNpRDNkeVJGVGo0dUJXZ25PUTNJYUsyY1AxNmNBRWN2SGd2ZnJIT2VNMmJ1MW1HN25iT0c5Q2FiQjNnNzhCOTNSRWFOUmpOVVFWSUtpNGttVHU3d0t2Y09obmNtSXBjS1NFV253TktxZ20rVWMxci9SamdzU2EwZTRwUmMvZVA3d0dlSS9kV3FvRGg0Yjh6UG53TWJSaTZxMU5hdFBzaE1ZSnBIUUJRUXEwc1BJRTRPOWRzeWRyYnRPZHJpbUtrQmVnMUhRMXRDcWUrcERseGwwWFprakxRMEZFaHMrR3BFOHBlYUFpSUc3UExuSTlNWWJGWVdHT1lvNjJFeHB2bW1YTFE1aFRSS1d0UklmRklEQWVrOVlHcENuWFYxOXQzYmxqdDltS2FYVktPTDU4WWswc2hxNHdPQlhiQTgzRDBicUJwUGJVRmN1WTdlUGpJYkYrSzAzeWtuZ3IybXI5ODhHZWtCeXlzVVMza1J0ZTlObU5udk1wY0p0ak9yV1dlalZkNkh5VC9zNGhrRjhZeXFNZnA2TUE9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_7 = res.json()
ilan_data = ilan_data + ilan_7
total_data = total_data + ilan_7
print('total = ', len(total_data))

<Response [200]>
5
total =  319235

In [ ]:
# 員山 1162
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/0a9a9698a2d24aadb0496ea3ff78b247?q=VTJGc2RHVmtYMTlVUTI5ZzlBNmJXS012aEc4a2tJSkdhQlY3VTJ5akVPSWp4bUpHNXAzS3dhekU5dHBzSzc3WS90N2ZBbDdoYjBsWFFWZkh4b0NKcldBcjFvamJwSFc4ZllsQk9ib3lNL2JtdkNmWStoa2Y2ZFlxT2FERDNZbU5yYkg4bFloalltR3ZtejFUNjMzaS8vekxtNXg0T0JKbTlBWHZBbklId2trdU9NV1FvSEM2SlVndXhxNmtvYnFOZXVlVG9HWFZuaFhiYk4weG4zSkJkM3QyMERzMWpDWWlteFh2RmlyRjF5R1hwc0VZUTJVWnRoRnVjRGZoajF2dUh3dnhSaXBxMmRJNWdEU1o2ZHRZM1M4eFh4amdzWCtHMlhwZlI2TnVpVnlla3V3cE02bFJ0QkcxV09sMVZ2VHNUVXhxbGc4UWNybTFNUDdQNFc3Sm9mbGZpckpNdXVGK0JickpsMEE4YURVaExRdkRtaHFGMFh5RVhlNGxYMGxUYUpmRTZmREhNdVB3VkVkVjBmYmdWVkc3WnprS3RlZFc3NGwwNjVkY2o2cXFENGd3K3BjVkhyZDkyL3hBTVJ0ZGx6VEdsZDBKODZ1M0k4SGpMZ1UyY21PWXNtMnRLUC9uUmhuMVpNT0tCNXc9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_8 = res.json()
ilan_data = ilan_data + ilan_8
total_data = total_data + ilan_8
print('total = ', len(total_data))

<Response [200]>
1171
total =  320406

In [ ]:
# 頭城 1154
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/6202f4c62a7b567a92e6295871a4791d?q=VTJGc2RHVmtYMS9WR2dUdFY0dkNqVmNNcFF4RTkzSXAvMytTRzN1V3dDWFVHU0tUeStsbmJaZEFIQlF0Q2MrYkVPTmF2M0tuWGI0OExHUmRZck5QUXJrVkJ4SkVwRkMxRXBhdWsxeW1PbHlFRGVCZU1wVGpQclBpR29uQzFOTUZmK2ZLNXMySlczbE9GL1crZVNnTDhLNFF6TzgzS3pyL04xUTZwWTFzVzBDK01BWmxzeVIrT0NFTXFpTy9UMWNSWW9BT3NyV3dXQUc2KzlJdTI3Y2dEZjZ5VFcwcDVpR3hzZm1aMFQ2cVI3TCtNazNNQXp3ZzV5N3Y0bDBnaTBlN2hOUjBKQWlwOEN5SVpGZzlESkVZUWViaTNxN3ZKTlB6SDNsOWw1VzJiNEtxRFpSYUxDbFRlNjJhdHVYWjVNZ1lKTnV2WVJabUtHMmFhaGRKTUt4MGNMT1VZR1JxVGhTUEt5b21DaDcyV0NyN1NmbCtRd3FkSjFRczZZMU5WZ0RVL2FxZ2FnaW1YVWdSb1BoMHFUc1pQMEtNdEgxVHdiZWVTZEJ4YzFkUkE2SzZ4aHN5N0lKbGRmY1RlUEtHSTRlMkxEdmYwUmFEMkYweE9Bc1FscnI1WUNKdzgxMFhFT2M0ZHl1MWNFbDkyWTQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_9 = res.json()
ilan_data = ilan_data + ilan_9
total_data = total_data + ilan_9
print('total = ', len(total_data))

<Response [200]>
1174
total =  321580

In [ ]:
# 礁溪 2,903
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/96076a77e018caad3168d44149dfcf00?q=VTJGc2RHVmtYMTlXUml2a3BwRDR2cG15UGc1Mi9pUXdGNkpEQWhtdWVHSjRYaTJDK005UjVYZVU2UjBTbGZmSFNNbmFvUGNzUzVVdmc2U0lqMTMwUHVHSTZ6RTg2UGlVbXIvTklwSVdoL3lkYUIvZG42WTcySThyYUxrVDlYVXR6cXJyUWhhRXRra3lCdGY5TGQ3cWJYSmo0U2ZWclpBdmJ1eDJ6SkJseXFWdGo2RFJHWDJZQUtma3g4THBOZ1NiV3NWVEhYd2Z0OTVGMTBxQWhBWm9VQTlyKzhBN2FKbENMWE1Qei9MNEVLSzNUOERiblRJNFpFWHZSMTF5V05teklLSXY1S01GSkwrRzhCbUVuOEVSVnlXZ2ZZWkg5OXFndWp5d0dwVmRKYlpydHB6YXc0UHNJQmNxWm9LalpKSGt4cHJUUHo2dU9yOE9McE5GejNjNWh0clVJdXhWQmJadzNCb0RFVDVMZXRHbjZDREhYdzR6cHVQUnFNUFZwR3F1RGlKa2ZZYXhnZm56YjN1eXNxcWdsTlpqODNRNUQ4dkZFZjdTK0kyZ01UY250VGYwSFE2UGhTbWNkekVPcjdCYkhRZGpnT0JUZjJtV29NRThTZGJPaWNMVmJiZjdsNElOcndtQVNWQVNSbDQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_10 = res.json()
ilan_data = ilan_data + ilan_10
total_data = total_data + ilan_10
print('total = ', len(total_data))

<Response [200]>
2959
total =  324539

In [ ]:
# 礁溪 2,903
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/96076a77e018caad3168d44149dfcf00?q=VTJGc2RHVmtYMTlXUml2a3BwRDR2cG15UGc1Mi9pUXdGNkpEQWhtdWVHSjRYaTJDK005UjVYZVU2UjBTbGZmSFNNbmFvUGNzUzVVdmc2U0lqMTMwUHVHSTZ6RTg2UGlVbXIvTklwSVdoL3lkYUIvZG42WTcySThyYUxrVDlYVXR6cXJyUWhhRXRra3lCdGY5TGQ3cWJYSmo0U2ZWclpBdmJ1eDJ6SkJseXFWdGo2RFJHWDJZQUtma3g4THBOZ1NiV3NWVEhYd2Z0OTVGMTBxQWhBWm9VQTlyKzhBN2FKbENMWE1Qei9MNEVLSzNUOERiblRJNFpFWHZSMTF5V05teklLSXY1S01GSkwrRzhCbUVuOEVSVnlXZ2ZZWkg5OXFndWp5d0dwVmRKYlpydHB6YXc0UHNJQmNxWm9LalpKSGt4cHJUUHo2dU9yOE9McE5GejNjNWh0clVJdXhWQmJadzNCb0RFVDVMZXRHbjZDREhYdzR6cHVQUnFNUFZwR3F1RGlKa2ZZYXhnZm56YjN1eXNxcWdsTlpqODNRNUQ4dkZFZjdTK0kyZ01UY250VGYwSFE2UGhTbWNkekVPcjdCYkhRZGpnT0JUZjJtV29NRThTZGJPaWNMVmJiZjdsNElOcndtQVNWQVNSbDQ9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_11 = res.json()
ilan_data = ilan_data + ilan_11
total_data = total_data + ilan_11
print('total = ', len(total_data))

<Response [200]>
2959
total =  327498

In [ ]:
# 羅東 3,255 
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/8b788cb2114ec93b3434a2601fd57bd1?q=VTJGc2RHVmtYMTlxQzhOdFkrVEZoZ05uMmYrd2FacXF4L2hsclpQYy94Sm9WY2g5amtUb2FKYlBreWVuZFQydEx0bGkyNlhRSVlSQzdhNEZMWUlDRWZvVTFyRWh5OE9HV05yRXZvR2IyTE0xd1NUcU12anFab3NKRkJqbGRrc3pLRnBybHUxaFA3L2M0Z2hIaXhmaFlPbzg1R1JuZFZLK0hHcWFHZXd0dW5IMHpHYUlYa3AvL1Y3ckErekdRd0FZdzFIdDY5VTQvV3VuWmdZYmdRQ0xVL1BwVUFPMFpMQkxDYlV1NWJYZStYcytGb2FLRlVKSjRlL2FhdGFGVXJwSWoydmU2L1J6bVovWVpseEJmNzI2MVVDY3Y5UTFLaGZINnBkZ0pPWUl0ck1EM3hQanZLMGRXOEFIQUFJQlM5ZmhJbnU1VmZtM1VnWWE4emNYdHgrbFZSMG5kUDRtZTJISTRIN1dWL3F1V3FYRFFsNWh4VkFwS1FNTExtVHVGZ3VuNWw4QzJ5UXpadlRET1BWcTRPckNsZk5Ka2JGMmwzbnNOejhKeDlTZDBic0NvZ0ZhOUtLWDhoME15ZjhTWlhsRzExamtFeUMyRzJwTGRBZ2E0Ums3bFdiZ0tkTThxdzNtUWdBWGVpWW0zUUU9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_12 = res.json()
ilan_data = ilan_data + ilan_12
total_data = total_data + ilan_12
print('total = ', len(total_data))

<Response [200]>
3290
total =  330788

In [ ]:
# 蘇澳 1,424
url = 'https://lvr.land.moi.gov.tw/SERVICE/QueryPrice/544d38e36aef2d4d6ed2e72a5fa668d0?q=VTJGc2RHVmtYMTlacloyRHZZZVRkcDBlV2owT3RtRGJSNDNIazZENG8vTjhRT0Z3OW1EL2oyYnNIMWtjYkRVSFNFQWhDNG80bEtMeHp2YkZIcjQvbWZ0RHFwUGoxcTRPZ3Bma1VLRDIwWDBFelhXd2VZK2szZHROOEFBU2ZqZVZRMlMvVmpLL0FaclhKT1VxMGpWQTBDdEgzQ3hyZytUV3hjY0FEZ2hWd2ZCYTd6bUhhbUV5bEJuUVJBbmdhT092aU5FWDNBZ3UyNzNCUzBUU1laMVpIWXNiYnI0RVV2U2w2Z25RL25OTlNVMG5oVm9pbkw3M1NiQUtRbUR2cHA2TTZtM0U2Ym0zQVloL1lNbXNKZXZtUVZVa01FN0Zucjc5bHZPTVkrdGQ0UXhnbTdwazZyaGt1VlJLODJpaklOcEo0NWR3VytzVUhOTkxEQW5oY0dmMkhJZkxFdnJiVEczMEduRjlBUjAyeDFRMDhaK0JYRTFqbzhVekVYRkx3T2VRSWs5dUd2dUlYbUlvMWt1Vm8xcjV2OW1ac0dGbitXN0Fwa1FPd0Rva1VNeHdwcnFreUMxeHdwUGJyazRqZ1B6c3lFQlNicDE0SmtibFRSOXVkYVVhUHVwZVA4REhJcXdKM3RRTzVSUG9PUjg9'
res = requests.get(url)
print(res)
print(len(res.json()))
ilan_13 = res.json()
ilan_data = ilan_data + ilan_13
total_data = total_data + ilan_13
print('total = ', len(total_data))

<Response [200]>
1436
total =  332224

In [ ]:
import pandas as pd
df = pd.DataFrame(total_data)
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(332224, 35)
(315210, 35)

In [ ]:
df= pd.read_csv('housePriceData.csv')

In [ ]:
df

        Unnamed: 0 AA11                a  ... unit       v year
0                0   其他           華齡街７０號  ...    2  0房1廳1衛  110
1                1   其他       延平北路六段１９１號  ...    2     NaN  110
2                2   其他      福國路９５號四樓之１８  ...    2  2房1廳1衛  110
3                3   其他  延平北路五段２８５巷９１號三樓  ...    2  1房1廳1衛  110
4                4   其他  社中街３４６巷１弄８之１號四樓  ...    2  2房1廳1衛  110
...            ...  ...              ...  ...  ...     ...  ...
315205      332219  工業區          中興一巷７１號  ...    2  4房2廳3衛  106
315206      332220  鄉村區       福德東路２９巷２１號  ...    2  5房2廳4衛  106
315207      332221    住       永愛路１５０巷２１號  ...    2  3房2廳1衛  106
315208      332222    住        中山路一段２７６號  ...    2  5房4廳3衛  106
315209      332223    商        漁港路１１４號二樓  ...    2  3房1廳2衛  106

[315210 rows x 29 columns]

In [ ]:
df = df.drop(columns=['AA12', 'commid', 'cp', 'es', 'fi', 
              'reid', 'note', 'mark', 'id', 'pimg', 'sq', 't'])

In [ ]:
df.head(1000)

    AA11                a                b       bs  ... type  unit       v year
0     其他           華齡街７０號     公寓(5樓含以下無電梯)   93.43%  ...  Biz     2  0房1廳1衛  110
1     其他       延平北路六段１９１號     公寓(5樓含以下無電梯)  100.00%  ...  Biz     2     NaN  110
2     其他      福國路９５號四樓之１８    華廈(10層含以下有電梯)   96.76%  ...  Biz     2  2房1廳1衛  110
3     其他  延平北路五段２８５巷９１號三樓     公寓(5樓含以下無電梯)   50.36%  ...  Biz     2  1房1廳1衛  110
4     其他  社中街３４６巷１弄８之１號四樓    華廈(10層含以下有電梯)   37.57%  ...  Biz     2  2房1廳1衛  110
..   ...              ...              ...      ...  ...  ...   ...     ...  ...
995   其他       士商路１７９號十四樓  住宅大樓(11層含以上有電梯)   41.27%  ...  Biz     2  3房2廳1衛  110
996   其他    中正路２１２巷７弄３號四樓     公寓(5樓含以下無電梯)   86.77%  ...  Biz     2  3房2廳2衛  110
997   其他      東山路１３０巷２號五樓     公寓(5樓含以下無電梯)   83.23%  ...  Biz     2  5房2廳3衛  110
998   其他    中正路２１２巷６弄９號二樓     公寓(5樓含以下無電梯)   86.22%  ...  Biz     2  3房1廳1衛  110
999   其他  天母東路５０巷２０號四樓之１１    華廈(10層含以下有電梯)   78.58%  ...  Biz     2  2房2廳1衛  110

[1000 rows x 24 columns]

In [ ]:
def year(timeString):
  return timeString[0:3]
df['year'] = df['e'].apply(year)
df['year']

TypeError: ignored

In [ ]:
print(type(df))

<class 'list'>

In [ ]:
df.to_csv('housePriceData.csv')

# Conbine with other data

## Conbine with cement and rebar index

In [ ]:
# install data from google drive
!gdown --id 1XLghQCBo59g16-KJJmQth7hA96aBDkjV

Downloading...
From: https://drive.google.com/uc?id=1XLghQCBo59g16-KJJmQth7hA96aBDkjV
To: /content/costPrice.csv
100% 1.64k/1.64k [00:00<00:00, 3.47MB/s]

In [ ]:
df1 = df.rename({'e': 'time'}, axis=1)

In [ ]:
df2 = pd.read_csv('costPrice.csv')
df2.columns =['time', 'cementIndex', 'RebarIndex']
df2

     time  cementIndex  RebarIndex
0   10401       100.00      100.00
1   10402        96.04      100.00
2   10403        92.83      100.00
3   10404        91.97      100.00
4   10405        87.47      100.00
..    ...          ...         ...
78  11007       147.86      102.16
79  11008       146.31      102.16
80  11009       146.20      104.18
81  11010       148.08      105.51
82  11011       144.61      107.75

[83 rows x 3 columns]

In [ ]:
mergeDf = pd.merge(df1, df2, on='time')
mergeDf

       AA11                a              b  ... year cementIndex  RebarIndex
0        其他           華齡街７０號   公寓(5樓含以下無電梯)  ...  110      144.61      107.75
1        其他       延平北路六段１９１號   公寓(5樓含以下無電梯)  ...  110      144.61      107.75
2        其他      福國路９５號四樓之１８  華廈(10層含以下有電梯)  ...  110      144.61      107.75
3        其他  延平北路五段２８５巷９１號三樓   公寓(5樓含以下無電梯)  ...  110      144.61      107.75
4        其他  社中街３４６巷１弄８之１號四樓  華廈(10層含以下有電梯)  ...  110      144.61      107.75
...     ...              ...            ...  ...  ...         ...         ...
315204  工業區          中興一巷７１號            透天厝  ...  106       94.99       99.72
315205  鄉村區       福德東路２９巷２１號            透天厝  ...  106       94.99       99.72
315206    住       永愛路１５０巷２１號            透天厝  ...  106       94.99       99.72
315207    住        中山路一段２７６號            透天厝  ...  106       94.99       99.72
315208    商        漁港路１１４號二樓   公寓(5樓含以下無電梯)  ...  106       94.99       99.72

[315209 rows x 26 columns]

## Combine with interest rate

In [ ]:
!pip install --upgrade -q gspread

In [ ]:
# get data from google sheets
import gspread
import pandas as pd
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Q4waDYzGDWnrqrRLEkpiLB07n3VjO5dDaczBvg2t01U/edit?usp=sharing').sheet1
rows = worksheet.get_all_values()
df3 = pd.DataFrame.from_records(rows)
new_header = df3.iloc[0] #grab the first row for the header
df3 = df3[1:] #take the data less the header row
df3.columns = new_header #set the header row as the df header
df3

0    time rediscountRate loanRate  ... overnightRate commercialPaperRate bondRate
1   10601          1.375    1.750  ...         0.173                0.47     1.14
2   10602          1.375    1.750  ...         0.177                0.44     1.12
3   10603          1.375    1.750  ...         0.176                0.48     1.15
4   10604          1.375    1.750  ...         0.175                0.45     1.07
5   10605          1.375    1.750  ...         0.172                0.39     1.08
6   10606          1.375    1.750  ...         0.183                0.42     1.04
7   10607          1.375    1.750  ...         0.184                0.44     1.08
8   10608          1.375    1.750  ...         0.180                0.41     1.03
9   10609          1.375    1.750  ...         0.184                0.42     1.00
10  10610          1.375    1.750  ...         0.181                0.46     1.05
11  10611          1.375    1.750  ...         0.177                0.42     1.01
12  10612          1.375    1.750  ...         0.179                0.43     0.97
13  10701          1.375    1.750  ...         0.180                0.44     1.03
14  10702          1.375    1.750  ...         0.181                0.46     1.04
15  10703          1.375    1.750  ...         0.180                0.43     1.00
16  10704          1.375    1.750  ...         0.184                0.43     1.02
17  10705          1.375    1.750  ...         0.186                0.41     1.01
18  10706          1.375    1.750  ...         0.192                0.47     0.96
19  10707          1.375    1.750  ...         0.188                0.47     0.87
20  10708          1.375    1.750  ...         0.178                0.52     0.83
21  10709          1.375    1.750  ...         0.178                0.52     0.84
22  10710          1.375    1.750  ...         0.183                0.51     0.90
23  10711          1.375    1.750  ...         0.179                0.55     0.92
24  10712          1.375    1.750  ...         0.183                0.62     0.90
25  10801          1.375    1.750  ...         0.179                0.57     0.86
26  10802          1.375    1.750  ...         0.180                0.55     0.82
27  10803          1.375    1.750  ...         0.178                0.52     0.77
28  10804          1.375    1.750  ...         0.189                0.49     0.75
29  10805          1.375    1.750  ...         0.188                0.49     0.72
30  10806          1.375    1.750  ...         0.202                0.62     0.70
31  10807          1.375    1.750  ...         0.185                0.56     0.67
32  10808          1.375    1.750  ...         0.180                0.57     0.65
33  10809          1.375    1.750  ...         0.177                0.57     0.68
34  10810          1.375    1.750  ...         0.177                0.57     0.70
35  10811          1.375    1.750  ...         0.176                0.54     0.69
36  10812          1.375    1.750  ...         0.177                0.57     0.68
37  10901          1.375    1.750  ...         0.180                0.54     0.63
38  10902          1.375    1.750  ...         0.178                0.56     0.57
39  10903          1.125    1.500  ...         0.144                0.51     0.53
40  10904          1.125    1.500  ...         0.079                0.48     0.48
41  10905          1.125    1.500  ...         0.079                0.37     0.47
42  10906          1.125    1.500  ...         0.082                0.36     0.46
43  10907          1.125    1.500  ...         0.083                0.35     0.43
44  10908          1.125    1.500  ...         0.082                0.33     0.39
45  10909          1.125    1.500  ...         0.082                0.31     0.41
46  10910          1.125    1.500  ...         0.082                0.30     0.35
47  10911          1.125    1.500  ...         0.080                0.27     0.26
48  10912          1.125    1.500  ...         0.080                0.24     0.31
49  11001          1.125    1.500  ...         0.079                0.24     0.32
50  11002          1.125    1.500  ...         0.080                0.23     0.38
51  11003          1.125    1.500  ...         0.080                0.23     0.41
52  11004          1.125    1.500  ...         0.080                0.22     0.40
53  11005          1.125    1.500  ...         0.080                0.22     0.41
54  11006          1.125    1.500  ...         0.081                0.24     0.43
55  11007          1.125    1.500  ...         0.082                0.24     0.40
56  11008          1.125    1.500  ...         0.081                0.24     0.41
57  11009          1.125    1.500  ...         0.086                0.25     0.43
58  11010          1.125    1.500  ...         0.083                0.30     0.50

[58 rows x 9 columns]

In [ ]:
type(df3['time'].apply(str))

pandas.core.series.Series

In [ ]:
mergeDf['time']=mergeDf['time'].astype(int)
df3['time']=df3['time'].astype(int)
mergeDf = pd.merge(mergeDf, df3, on='time')
mergeDf

       AA11               a  ... commercialPaperRate bondRate
0        其他    福華路１２８巷１２號二樓  ...                0.30     0.50
1        其他      德行東路６之２號六樓  ...                0.30     0.50
2        其他  至誠路一段１３６巷１７號二樓  ...                0.30     0.50
3        其他      文林路６６１巷１５號  ...                0.30     0.50
4        其他    中山北路六段４２３號五樓  ...                0.30     0.50
...     ...             ...  ...                 ...      ...
313975  工業區         中興一巷７１號  ...                0.47     1.14
313976  鄉村區      福德東路２９巷２１號  ...                0.47     1.14
313977    住      永愛路１５０巷２１號  ...                0.47     1.14
313978    住       中山路一段２７６號  ...                0.47     1.14
313979    商       漁港路１１４號二樓  ...                0.47     1.14

[313980 rows x 34 columns]

In [ ]:
mergeDf.to_csv('housePriceData.csv')

## Combine with Regional Income Data

In [ ]:
#load data from google sheets
!gdown --id 1Ua_GHNWHVNJ1uQZDMeKqmMn1zsbC3Hai

Downloading...
From: https://drive.google.com/uc?id=1LIPR_lbY5Xy0ckWVB98ZFkP05TFF_2Ul
To: /content/housePriceData.csv
100% 94.3M/94.3M [00:01<00:00, 93.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ua_GHNWHVNJ1uQZDMeKqmMn1zsbC3Hai
To: /content/incomePerMonthPerTaiwanese.csv
100% 1.87k/1.87k [00:00<00:00, 4.23MB/s]

In [ ]:
df4 = pd.read_csv('incomePerMonthPerTaiwanese.csv')
df4['time']=df4['time'].astype(int)
mergeDf = pd.merge(mergeDf, df4, on='time')
mergeDf

## label column names

In [14]:
mergeDf[mergeDf['a'] == '承德路四段３巷２８號四樓']

   AA11             a  ... TWrealWage TWrealRegularWage
84   其他  承德路四段３巷２８號四樓  ...      47496             41375

[1 rows x 38 columns]

In [ ]:
# !gdown --id 1LIPR_lbY5Xy0ckWVB98ZFkP05TFF_2Ul
# import pandas as pd
# mergeDf = pd.read_csv('housePriceData.csv')
# mergeDf = mergeDf.drop(columns=['Unnamed: 0'])
# mergeDf

In [25]:
for col in mergeDf.columns:
    print(col)

DistrictType
Adress
HouseType
BasePercent
city
time
elevator
floor
age
ground
building
park
lat
lon
management
pricePerP
r
area
totalPrice
district
type
unit
v
year
cementIndex
RebarIndex
rediscountRate
loanRate
monthDepositRate
yearDepositRate
standardRate
overnightRate
commercialPaperRate
bondRate
TWtotalWagePermonth
TWRegularPerMonth
TWrealWage
TWrealRegularWage

In [17]:
mergeDf = mergeDf.rename(columns={'AA11':'DistrictType', 'a':'Adress', 'b':'HouseType',      # /什麼區 ex:工業區/地址/房屋種類 ex:華廈
          'bs':'BasePercent', 'city':'city', 'time':'time', 'el':'elevator',    # /總面積比/././有無電梯
          'f':'floor', 'g':'age', 'j':'ground', 'k':'building', 'l':'park',   # floor:總共幾層露/位於幾樓/土地/建物/車位'
           'lat':'lat', 'lon':'lon', 'm':'management', 'p':'pricePerP', 'r':'r', # /././有無管理組織/每坪平均價格/我也不知道是什麼
           's':'area', 'tp':'totalPrice', 'twn':'district', 'type':'type', 'unit':'unit', #總坪數/總價格/行政區代號/其他我也看不懂
           'v':'v', 'year':'year'})

mergeDf

       DistrictType          Adress  ... TWrealWage TWrealRegularWage
0                其他    福華路１２８巷１２號二樓  ...      47496             41375
1                其他      德行東路６之２號六樓  ...      47496             41375
2                其他  至誠路一段１３６巷１７號二樓  ...      47496             41375
3                其他      文林路６６１巷１５號  ...      47496             41375
4                其他    中山北路六段４２３號五樓  ...      47496             41375
...             ...             ...  ...        ...               ...
313975          工業區         中興一巷７１號  ...      93671             39524
313976          鄉村區      福德東路２９巷２１號  ...      93671             39524
313977            住      永愛路１５０巷２１號  ...      93671             39524
313978            住       中山路一段２７６號  ...      93671             39524
313979            商       漁港路１１４號二樓  ...      93671             39524

[313980 rows x 38 columns]

In [18]:
mergeDf.to_csv('housePriceData_10601to11010.csv')

In [23]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [24]:
!cp housePriceData_10601to11010.csv "drive/My Drive/"

## Combine with data without year 110

In [5]:
!gdown --id 12oikSuSUdBVOLx_qX3MxGhxsj1bIo1Zh

Downloading...
From: https://drive.google.com/uc?id=12oikSuSUdBVOLx_qX3MxGhxsj1bIo1Zh
To: /content/housePriceData_10601to11010.csv
100% 97.2M/97.2M [00:00<00:00, 127MB/s]

In [6]:
import pandas as pd
mergeDf = pd.read_csv('housePriceData_10601to11010.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# get data from google sheets
import gspread
import pandas as pd
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open_by_url('https://docs.google.com/spreadsheets/d/1v3YllZIoRnlbcY-oDxu_9RXbkN-SLdv-aYLowqNeyG4/edit?usp=sharing').sheet1
rows = worksheet.get_all_values()
df5 = pd.DataFrame.from_records(rows)
new_header = df5.iloc[0] #grab the first row for the header
df5 = df5[1:] #take the data less the header row
df5.columns = new_header #set the header row as the df header
df5
df5 = df5.rename(columns={'county':'city'})

In [14]:
df5['year']=df5['year'].astype(int)
mergeDf['year'] = mergeDf['year'].astype(int)
mergeDf = pd.merge(mergeDf, df5, on=["year", "city"])
mergeDf = mergeDf.drop(columns=['Unnamed: 0'])
mergeDf

       DistrictType              Adress  ...    Save   Save Growth
0                其他          中社路一段９巷１４號  ...  313505   0.161559837
1                其他   中山北路六段１９５巷１５號五樓之２  ...  313505   0.161559837
2                其他   中山北路六段１９５巷１５號四樓之２  ...  313505   0.161559837
3                其他  延平北路八段９３巷２７號、２７號二樓  ...  313505   0.161559837
4                其他           菁山路７２巷１５號  ...  313505   0.161559837
...             ...                 ...  ...     ...           ...
260073          工業區             中興一巷７１號  ...  145519  -0.144287764
260074          鄉村區          福德東路２９巷２１號  ...  145519  -0.144287764
260075            住          永愛路１５０巷２１號  ...  145519  -0.144287764
260076            住           中山路一段２７６號  ...  145519  -0.144287764
260077            商           漁港路１１４號二樓  ...  145519  -0.144287764

[260078 rows x 68 columns]

In [15]:
mergeDf.to_csv('housePriceData_10601to10912.csv')

In [16]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [17]:
!cp housePriceData_10601to10912.csv "drive/My Drive/"